<form action="">
	<div class="row">
		<div class="col-sm-3">
			<label for="userID">User ID</label>
		</div>
		<div class="col-sm-9">
			{% include 'util/form/input-with-modal-lookup.twig' with {
					'name': 'userID', 'value': '',
					'modaltarget': '#ajax-modal',
					'modaldescription': 'Search for / Choose User ID',
					'attributes_button': {'data-search': 'user', 'data-lookupurl': ''},
					'class_add': ['ajax-lookup'],
					'attributes': {'data-loginid': '', 'data-validate': 'loginid', 'data-ajaxfields': ''}
				}
			%}
		</div>
	</div>

	<div class="list-group">
		<div class="list-group-item bg-dark text-white">
			<div class="row">
				<div class="col-sm-3">
					Screen Option
				</div>
				<div class="col-sm-2">
					Avail
				</div>
				<div class="col-sm-2">
					Whse
				</div>
				<div class="col-sm-5">

				</div>
			</div>
		</div>
		{% for option in iio.iiscreens() %}
		<div class="list-group-item">
			<div class="row">
				<div class="col-sm-3">
					{{ iio.field_attribute(option, 'label') }}
				</div>
				<div class="col-sm-2">
					{% include 'util/form/select.twig' with {
							'name': option, 'selectedvalue': attribute(user, option),
							'options': {
								'Y': 'Yes',
								'N': 'No'
							},
							'class_add': [
								'w-75'
							]
						}
					%}
				</div>
				<div class="col-sm-2">
					{% if (iio.field_attribute(option, 'whse') is same as(true)) %}
						{% set name = 'whse' ~ option %}
						{% include 'util/form/input-with-modal-lookup.twig' with {
								'name': name, 'value': attribute(user, name),
								'modaltarget': '#ajax-modal',
								'modaldescription': 'Search for / Choose Warehouse ID',
								'attributes_button': {'data-search': 'warehouse', 'data-lookupurl': ''},
								'class_add': ['ajax-lookup'],
								'attributes': {'data-whse': '', 'data-validate': 'whseid', 'data-ajaxfields': ''}
							}
						%}
					{% endif %}
				</div>
				<div class="col-sm-5">

				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</form>
