{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	sysop                  Dplus\Codes\Msa\Sysop
	code                   MsaSysopCode
#}
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="filename">File Name</label>
			{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': 'filename',
						'size': 'sm',
						'value' : code.filename,
						'haskeys': true,
						'options': {'Y': 'Yes', 'N': 'No'}
					}
				}
			%}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="validate">Validate</label>
			{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': 'validate',
						'size': 'sm',
						'value' : code.validate,
						'haskeys': true,
						'options': {'Y': 'Yes', 'N': 'No'}
					}
				}
			%}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="force">Force Entry</label>
			{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': 'force',
						'size': 'sm',
						'value' : code.force,
						'haskeys': true,
						'options': {'Y': 'Yes', 'N': 'No'}
					}
				}
			%}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="advsearch">Advanced Search</label>
			{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': 'advsearch',
						'size': 'sm',
						'value' : code.advsearch,
						'haskeys': true,
						'options': {'Y': 'Yes', 'N': 'No'}
					}
				}
			%}
		</div>
	</div>
</div>
