<form action="{{ input.paginateUrl(1) }}" method="POST" id="customer-form" data-id="{{ customer.id }}">
	<input type="hidden" name="action" value="update">

	<div class="row">
		<div class="col-sm-6">
			{% include 'mar/armain/cmm/edit/form/key.twig' %}
			{% include 'mar/armain/cmm/edit/form/address.twig' %}
			{% include 'mar/armain/cmm/edit/form/phones.twig' %}
			{% include 'mar/armain/cmm/edit/form/warehouses.twig' %}
			<div class="mb-3">
				{% include 'mar/armain/cmm/edit/form/salesreps.twig' %}
			</div>
			{% include 'mar/armain/cmm/edit/form/taxes.twig' %}
		</div>
		<div class="col-sm-6">

		</div>
	</div>

	<hr>

	<div class="d-flex justify-content-between align-items-center">
		{% if ctm.recordlocker.isLocked(customer.id) == false or ctm.recordlocker.userHasLocked(customer.id) %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>

			{% if code.isNew() == false %}
				<a href="{{ page.custDeleteUrl(customer.id) }}" class="btn btn-danger delete_button">
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}

		<a href="{{ page.custListUrl(customer.id) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
