<div class="row">
	<div class="col-sm-4">
		<form action="{{ input.url() }}" method="get"id="pricing-itemid-form">
			<input type="hidden" name="custID" value="{{ input.get.string('custID') }}">

			<div class="form-group">
				<label for="itemID">Item ID</label>
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'attributes': {},
							'input': {
								'name': 'itemID',
								'attributes': {
									'placeholder': '',
									'aria-label':  'Item ID'
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
								'title': 'Search Items',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.search_lookupURL('items'),
									'data-input': '#itemID'
								}
							}
						}
					}
				%}
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
