{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			INMAIN
		</a>
	</li>

	{% if values.offsetExists('parentID') and values.text('parentID') != 'new' %}
		<li class="breadcrumb-item">
			<a href="{{ page.xrefListFocusUrl(values.text('parentID'), values.text('childID')) }}">
				ITMP
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ [values.text('parentID'), values.text('childID')]|join('-') }}</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">ITMP</li>
	{% endif %}
{% endblock %}
