<div class="mb-3">
	<button class="btn btn-primary" onclick="window.history.back()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
	</button>
	&nbsp;
	<a href="{{ page.url }}" class="btn btn-primary">
		<i class="fa fa-search" aria-hidden="true"></i> VXM
	</a>

	{% if page.has('vendoritemID') %}
		<a href="{{ page.vxm_vendorURL(page.vendorID) }}" class="btn btn-primary"> View Vendor {{ page.vendorID }}</a>
	{% endif %}
</div>
