<form action="{{ page.url }}" class="allow-enterkey-submit">
	<label for="ponbr"><strong>Enter Purchase Order Number</strong></label> &nbsp; &nbsp;

	<div class="form-inline">
		{% include 'util/form/input-with-modal-lookup.twig' with {
				'name': 'ponbr', 'value': '',
				'attributes': {},
				'modaltarget': '#ajax-modal',
				'modaldescription': 'Search for / Choose Purchase Order',
				'attributes_button': {
					'data-search': 'ponbr',
					'data-lookupurl': page.search_lookupURL('purchase-orders'),
					'data-input': '#ponbr'
				}
			}
		%}
		<button type="submit" class="btn btn-success">Go</button>
	</div>
</form>
