{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.so              ConfigSalesOrder
	user                   ProcessWire\User
	purchaseorder          PurchaseOrder
#}
<div class="mb-3">
	{% include 'purchase-orders/purchase-order/purchase-order-header.twig' %}
</div>

<div class="mb-3">
	{% include 'purchase-orders/purchase-order/purchase-order-items.twig' %}
</div>
