<div class="mb-3">
	{% include 'purchase-orders/purchase-order/purchase-order-header.twig' %}
</div>

<div class="mb-3">
	{% include 'purchase-orders/purchase-order/purchase-order-items.twig' %}
</div>
