{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.so              ConfigSalesOrder
	user                   ProcessWire\User
	purchaseorder          PurchaseOrder
#}
<div class="mb-3">
	{% include 'purchase-orders/purchase-order/purchase-order-header.twig' %}
</div>

<div class="mb-3">
	{% include 'purchase-orders/purchase-order/items.twig' %}

	{% if user.permitted_edit_po and user.can_edit_po(purchaseorder.ponbr) %}
		<a href="{{ page.po_editURL(purchaseorder.ponbr) }}" class="btn btn-block btn-warning">
			<i class="fa fa-pencil" aria-hidden="true"></i> Edit Purchase Order
		</a>
	{% endif %}
</div>
