<div id="notes" class="mb-4">
	<div class="row">
		<div class="col">
			<h3 class="font-weight-bold text-secondary">Notes <i class="fa fa-sticky-note-o" aria-hidden="true"></i></h3>
		</div>
		<div class="col">
			<a href="{{ page.view_notesURL(ponbr, 0) }}" class="btn btn-primary">
				<i class="fa fa-sticky-note" aria-hidden="true"></i> View All Notes
			</a>
		</div>
	</div>

	<div class="list-group">
		<div class="list-group-item list-group-item-action bg-dark text-white">
			<div class="row">
				<div class="col">Note</div>
			</div>
		</div>
		{% if notes.count > 0 %}
			{% for note in notes %}
				<div class="list-group-item">
					<p class="mb-0 notes">{{ note.note }}</p>
				</div>
			{% endfor %}
		{% else %}
			<div class="list-group-item text-center font-weight-bold">
				No notes found
			</div>
		{% endif %}
	</div>
</div>
