<div class="mt-2" role="">
    <div class="alert alert-danger mt-2" role="alert">
		{{ msg }}
	</div>
    <button class="btn btn-default" onclick="window.history.back()">
        <i class="fa fa-undo" aria-hidden="true"></i> Go Back
    </button>
</div>
