{% include 'customers/ci/.new/bread-crumbs.twig' %}

<div class="row">
	<div class="col-sm-6">
		<form action="{{ input.url() }}" method="GET" class="allow-enterkey-submit">
			<input type="hidden" name="rid" value="{{ input.get.int('rid') }}">
			<div class="form-group">
				<label for="custpo">Cust PO #</label>
				<input class="form-control form-group inline" type="text" name="custpo" id="custpo" placeholder="Customer PO #" autofocus>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
