<nav class="toolbar-sidebar">
	<ul class="nav">
		{% for child in page.children() %}
			<li>
				<a href="{{ child.url ~ '?custID=' ~ customer.custid }}">
					{{ child.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
