{% set fields = [
		'salesmtd', 'salesytd', 'salesltd',
		'earnedmtd', 'earnedytd', 'earnedltd',
		'paidmtd', 'paidytd','paidltd'
	]
%}

{% for field in fields %}
	<div class="row form-group">
		<div class="col-sm-3">
			<label for="{{ field }}">{{ spm.field_attribute(field, 'label') }}</label>
		</div>
		<div class="col-sm-6">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': field, 'type': 'number',
						'value': attribute(person, field)|number_format(spm.field_attribute(field, 'precision')),
						'size': 'sm',
						'attributes': {
							'max': spm.field_attribute(field, 'max'),
							'data-precision': spm.field_attribute(field, 'precision'),
						},
						'addclasses': [
							'w-50',
							'text-right',
							'sales-figures',
							'qty-input'
						]
					}
				}
			%}
		</div>
	</div>
{% endfor %}
