# Processwire Directories
wire
site/assets
site/modules/Helloworld
site/modules/InputfieldCKEditor
site/modules/JqueryDataTables
site/modules/ProcessExportProfile

# Project Configurations
site/config.php
/vendor
test.php

# Twig Cache
site/templates/twig/cache/

# Code Editor Files

# VS Code files
.vscode

# Atom files
.ftpconfig
.ftpignore
project.cson



# DW Dreamweaver added files
_notes
_compareTemp
dwsync.xml
dw_php_codehinting.config
*.mno



