{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
	epo                    PurchaseOrderEdit
#}
<div class="mb-3">
	{% include 'purchase-orders/purchase-order/edit/links.twig' with {'page': page, 'ponbr': po.ponbr } %}
</div>

{% if session.getFor('response', 'epo') %}
	{% include 'purchase-orders/purchase-order/edit/response.twig' with {'response': session.getFor('response', 'epo')} %}
{% endif %}

{% if session.get('response_qnotes') %}
	{% include 'purchase-orders/purchase-order/edit/response.twig' with {'response': session.get('response_qnotes')} %}
{% endif %}

<div class="mb-3">
	{% include 'purchase-orders/purchase-order/edit/header.twig' %}
</div>

<h3 class="font-weight-bold text-secondary">Items</h3>
{% include 'purchase-orders/purchase-order/edit/items.twig' %}

{% include 'purchase-orders/purchase-order/edit/qnotes/qnotes.twig' %}

{% include 'purchase-orders/purchase-order/edit/item/modal.twig' %}
{% include 'purchase-orders/purchase-order/edit/header/payto-modal.twig' %}
{% include 'purchase-orders/purchase-order/edit/header/phone-modal.twig' %}
