<div class="d-flex justify-content-between align-items-center">
	<a href="" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to PO
	</a>
	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#header-notes-modal">
		<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Notes
	</button>
	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ajax-modal" title="PO #{{ ponbr }} Documents" data-search="documents" data-ponbr="{{ ponbr }}">
		<i class="fa fa-sticky-note" aria-hidden="true"></i> Documents
	</button>
</div>
