{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefCustomer
#}

{% set response = session.getFor('response', 'vxm') %}

{% if response and response.has_error() %}
	{% include 'items/itm/response-alert.twig' with {'response': response} %}
{% endif %}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-3">
						<strong> {{ page.pw_template == 'itm' ? 'Item ID' : 'Vendor ID' }}</strong>
					</div>
					<div class="col-sm-8">
						<div class="d-flex justify-content-between">
							<div>{{ page.pw_template == 'itm' ? item.itemid : item.vendorid }}</div>
							<div>{{ page.pw_template == 'itm' ? item.item.description : item.vendor.name  }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="card-body">
		{% include 'items/vxm/xref/form/form.twig' %}
	</div>
</div>
