<div class="list-group">
	{% for lotserial in inventory.get_lotserials_itemid(item.sessionid, item.itemid, page.frombin) %}
		<a href="{{ page.binr_itemURL(lotserial) }}" class="list-group-item p-1">
			<div class="row">
				<div class="col">
					<h4 class="list-group-item-heading">
						{{ lotserial.get_itemtypepropertydesc()|upper ~ ": " ~ lotserial.get_itemidentifier() }}
					</h4>
				</div>
				<div class="col">
					{% if (not warehouse.validate_bin(lotserial.bin)) %}
						<span class="badge badge-danger pull-right">Invalid Bin</span>
					{% endif %}
				</div>
			</div>
			<p class="list-group-item-text bg-light">
				<strong>Bin:</strong> {{ lotserial.bin }} <strong>Qty:</strong> {{ lotserial.qty|number_format(config.decimal_places()) }}
			</p>
		</a>
	{% endfor %}
</div>
