{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefCxm[]|ObjectCollection
	response               XrefResponse|null
#}
<div class="mb-3">
	{% include 'items/cxm/.new/customer/xrefs/toolbar.twig' %}

</div>

{% include 'items/cxm/.new/customer/xrefs/list.twig' %}
{% include 'util/paginator/propel.twig' with {'pager': xrefs} %}

