{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	kitm                   module InvKitMaster
	item                   ItemMasterItem
	kit                    InvKit
#}
<div class="mb-3">
	{% include 'items/itm/kit/components.twig' %}
</div>
