{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
	po_readonly            PurchaseOrder
	epo                    PurchaseOrderEdit
	qnotes                 QnotesPo
#}
<div class="modal fade show" id="header-notes-modal" tabindex="-1" role="dialog" aria-labelledby="header-notes-modal-label" aria-hidden="true" data-input="">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="header-notes-modal-label">Header Notes</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% include 'purchase-orders/purchase-order/qnotes/line.twig' with {'qnotes': qnotes, 'purchaseorder': purchaseorder, 'linenbr': 0, 'show_edit': true} %}
			</div>
		</div>
	</div>
</div>
