{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.so              ConfigSalesOrder
	invoice                ApInvoice
#}
<div class="mb-3">
	{% include 'purchase-orders/invoices/invoice/header.twig' %}
</div>

<div class="mb-3">
	<h3 class="font-weight-bold text-secondary">Items</h3>
	{% include 'purchase-orders/invoices/invoice/items.twig' %}
</div>

<div class="mb-3">
	<h3 class="font-weight-bold text-secondary">Documents <i class="fa fa-file-text" aria-hidden="true"></i></h3>
	{% include 'purchase-orders/invoices/invoice/documents.twig' %}
</div>
