{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.so              ConfigSalesOrder
	invoice                ApInvoice
#}
<div class="mb-3">
	{% include 'purchase-orders/invoices/invoice/invoice-header.twig' %}
</div>

<div class="mb-3">
	{% include 'purchase-orders/invoices/invoice/invoice-items.twig' %}
</div>
