{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values      = input.get %}
{% set segments    = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.mpmUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> MPM
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ page.pmmainUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> PMMAIN
		</a>
	</li>

	{% if lastsegment == 'bmm' and values.offsetExists('bomID') == false %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> BMM
		</li>
	{% endif %}

	{% if values.offsetExists('bomID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.bmmUrl(values.text('bomID')) }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> BMM
			</a>
		</li>

		<li class="breadcrumb-item active" aria-current="page">
			{{ values.text('bomID') }}
		</li>
	{% endif %}
{% endblock %}
