<div class="card">
	{% block header %}
		<div class="card-header">
			<div class="row">
				<div class="col-sm-2">
					<strong>Customer:</strong>
				</div>
				<div class="col-sm-10">
					{{ customer.id }} -{{ customer.name }}
				</div>
			</div>
		</div>
	{% endblock %}

	{% block body %}
		<div class="card-body">

		</div>
		{% include 'mar/arproc/ecr/customer/invoices.twig' %}
	{% endblock %}

	{% block footer %}
		<div class="card-footer">
			<div class="d-flex justify-content-between align-items-center">

			</div>
		</div>
	{% endblock %}
</div>
