
<table class="table table-sm">
	<thead>
		<tr>
			<th colspan="2">Totals</th>
		</tr>
	</thead>
	<tr>
		<td><b>Clerk</b></td>
		<td class="text-right">{{ ecr.totals.clerk }}</td>
	</tr>
	<tr>
		<td><b>Journal</b></td>
		<td class="text-right">{{ ecr.totals.journal }}</td>
	</tr>
	<tr>
		<td><b>Customer</b></td>
		<td class="text-right">{{ ecr.totals.customer }}</td>
	</tr>
</table>
