<div class="p-3 bg-light">
	<div class="d-flex d-justify-content-between">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#payRangeModal">
			Pay Range
		</button>
	</div>
</div>
