{% extends "nav/offcanvas/default.twig" %}

{% block nav_links %}
	{% if user.has_function('wm') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=wm').url }}">{{ pages.get('dplus_function=wm').title }}</a>
		</li>
	{% endif %}
	{% if user.has_function('ii') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=ii').url }}">{{ pages.get('dplus_function=ii').title }}</a>
		</li>
	{% endif %}
{% endblock %}
