{% extends 'items/ii/display.twig' %}

{% block body %}
	<div>
		{% include 'items/ii/usage/sales-usage.twig' %}

		<div class="card-body">
			{% include 'items/ii/usage/warehouses.twig' %}
		</div>
	</div>
{% endblock %}

{% block footer %}

{% endblock %}
