<div class="row">
	<div class="col-sm-6">
		{% include 'customers/ci-customer/customer-table.twig' %}
	</div>
	<div class="col-sm-6">
		{% include 'customers/ci-customer/shipto-table.twig' %}
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<h4>Customer Activity</h4>
		{% include 'customers/ci-customer/customer-activity.twig' %}
	</div>

	<div class="col-sm-4">
		<h4>Customer AR</h4>
		{% include 'customers/ci-customer/customer-ar-data.twig' %}
	</div>
</div>
