<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">Last</th>
			<th scope="col">Handle</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customers %}
			<tr>
				<td scope="row">
					<a href="{{ page.url ~ '?custID=' ~ customer.id }}" class="link">
						<strong>{{ customer.id }}</strong>
					</a>
				</td>
				<td>{{ customer.name }}</td>
				<td>
					{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}
				</td>
				<td></td>
				<td>@mdo</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
