<form action="{{ page.searchURL }}" method="get" class="allow-enterkey-submit" id="customer-search-form">
	<div class="input-group form-group">
		<input type="hidden" name="custID" value="{{ custID }}">
		<input class="form-control form-group inline" type="text" name="q" value="" placeholder="Search CustID, Customer Name">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
		</span>
	</div>
</form>
