{# mfcm is an instance of MotorFreightCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form" data-code="">
	<input type="hidden" name="table" value="mfcm">
	<input type="hidden" name="serialized" value="" disabled>

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ max_length_code }}" value="" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description 1</label>
		<input type="text" name="description" class="form-control" maxlength="50" value="" id="description">
	</div>

	<div class="form-group">
		<label for="description2">Description 2</label>
		<input type="text" name="description2" class="form-control" maxlength="50" value="" id="description2">
	</div>

	<div class="form-group">
		<label for="description3">Description 3</label>
		<input type="text" name="description3" class="form-control" maxlength="50" value="" id="description3">
	</div>

	<div class="form-group">
		<label for="description4">Description 4</label>
		<input type="text" name="description4" class="form-control" maxlength="50" value="" id="description4">
	</div>

	<div class="form-group">
		<label for="motorclass">Class</label>
		<input type="text" name="motorclass" class="form-control" maxlength="4" value="" id="motorclass">
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
	</div>
</form>
