<form action="{{ page.url }}" method="get" class="allow-enterkey-submit">
	<div class="form-group">
		<div class="input-group">
			<input class="form-control form-group inline" type="text" name="q" value="" id="custID" placeholder="Search Customers by ID, Name, City, State, Zip" autofocus>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">
					<i class="fa fa-search"></i> <span class="sr-only">Search</span>
				</button>
			</span>
		</div>
	</div>
</form>
