<div>
	{% include 'items/cxm/search/customer/form.twig' %}
</div>
<div>
	{% include 'items/cxm/item-list-header.twig' with {'page': page, 'heading': customers.getNbResults() ~ ' Customers'} %}
	{% include 'items/cxm/search/customer/list.twig' %}
</div>
