<nav class="toolbar-sidebar">
	<ul class="nav">
		{% for child in page.subfunctions() %}
			<li>
				<a href="{{ child.url_itemID(item.itemid) }}">
					{{ child.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
