<nav class="toolbar-sidebar">
	<ul class="nav">
		{% for function, title in page.subfunctions() %}
			<li>
				<a href="{{ page.subfunctionURL(item.itemid, function) }}">
					{{ title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
