<tr>
	<td> <label for="itemID">Item ID</label> </td>
	<td>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'size': 'sm',
					'attributes': {
						'readonly': true
					},
					'type': 'prepend',
					'input': {
						'name': 'itemID', 'id': 'itemID',
						'size': 'sm',
						'value': orderitem.itemid,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Item ID'
						},
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Item IDs',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.search_lookupURL('items'),
							'data-input': '#itemID'
						}
					}
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="editdescription">Description</label> </td>
	<td>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'description', 'id': 'editdescription',
					'value': orderitem.description,
					'size': 'sm',
					'attributes': {},
					'addclasses': []
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="editqty">Qty</label> </td>
	<td>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'qty', 'id': 'editqty',
					'type': 'number',
					'value': orderitem.qty_ordered|number_format(config.decimal_places_qty),
					'size': 'sm',
					'attributes': {},
					'addclasses': [
						'text-right',
						'qty-input'
					]
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="editprice">Price</label> </td>
	<td>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'price', 'id': 'editprice',
					'type': 'number',
					'value': orderitem.price|number_format(config.decimal_places_price),
					'size': 'sm',
					'attributes': {
						'data-allowdiscount': orderitem.item.allow_discount() ? 'Y' : 'N',
						'data-itemid': orderitem.itemid,
						'data-userchanged': 'false'
					},
					'addclasses': [
						'text-right',
						'qty-input'
					]
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="edittotal">Total</label> </td>
	<td>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'totalprice', 'id': 'edittotal',
					'type': 'number',
					'value': orderitem.total_price|number_format(config.decimal_places_price),
					'size': 'sm',
					'attributes': {
					},
					'addclasses': [
						'text-right',
						'qty-input'
					]
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="rshipdate">Requested Ship Date</label> </td>
	<td>
		{% include 'util/bootstrap/form/date-picker.twig' with {
				'inputgroup': {
					'size': 'sm',
					'input': {
						'name': 'rshipdate',
						'value': orderitem.rqstdate ? orderitem.rqstdate|convertdate : '',
						'attributes': {
							'placeholder': '',
							'aria-label':  'Requested Ship Date'
						}
					}
				}
			}
		%}
	</td>
</tr>
<tr>
	<td> <label for="editwhse">Warehouse</label> </td>
	<td>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'size': 'sm',
					'type': 'prepend',
					'input': {
						'name': 'whseid', 'id': 'editwhse',
						'size': 'sm',
						'value': orderitem.whseid,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Warehouse ID'
						},
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Warehouse IDs',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.search_lookupURL('warehouses'),
							'data-input': '#editwhse'
						}
					}
				}
			}
		%}
	</td>
</tr>
<tr>
	<td>
		<label for="editkit">Kit</label>
	</td>
	<td>
		{% include 'util/form/select.twig' with {
				'id': 'editkit',
				'name': 'kit', 'show_value': true, 'selected_value': orderitem.kit,
				'options': {
					'Y': 'Yes',
					'N': 'No'
				},
			}
		%}
	</td>
</tr>
<tr>
	<td>
		<label for="editspecialorder">Special Order</label>
	</td>
	<td>
		<select name="specialorder" id="editspecialorder" class="form-control form-control-sm">
			{% for option, label in constant('SalesOrderDetail::OPTIONS_SPECIALORDER') %}
				<option value="{{ option }}" {{ option == orderitem.specialorder ? 'selected'}}>
					{{ label|title }}
				</option>
			{% endfor %}
		</select>
	</td>
</tr>
