<form action="{{ page.get_redirURL() }}">
	<input type="hidden" name="action" value="ii-bom">
	<input type="hidden" name="itemID" value="{{ itemID }}">
	<div class="form-group">
		<label for="qtyneeded">Qty Needed</label>
		<input type="number" id="qtyneeded" class="form-control" name="qty" value="1">
	</div>
	<div class="form-group">
		<label for="bomtype">Bom Type</label>
		<select name="bomtype" id="bomtype" class="form-control">
			<option value="single">Single</option>
			<option value="consolidated">Consolidated</option>
		</select>
	</div>
	<button type="submit" class="btn btn-secondary">Submit</button>
</form>
