<div class="row">
	<div class="col-sm-6 mb-3">
		<h3>Purchase Order</h3>
		<textarea wrap="hard" class="form-control-plaintext w-auto qnotes" rows="10" cols="{{ qnotes.order.cols }}">{{ qnotes.order.notes|join('\n') }}</textarea>
	</div>
	<div class="col-sm-6 mb-3">
		<h3>Internal</h3>
		<textarea wrap="hard" class="form-control-plaintext w-auto qnotes" rows="10" cols="{{ qnotes.internal.cols }}">{{ qnotes.internal.notes|join('\n') }}</textarea>
	</div>
</div>
