{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(pw_template=inmain)
	input                  ProcessWire\WireInput
	addm                   Dplus\Min\Inmain\Addm\Addm
	xrefs                  Propel\Runtime\Util\PropelModelPager (ItemAddonItem[])
#}
<div class="card">
	<div class="card-body">
		{% include 'min/inmain/addm/list/search.twig' with {'q' : input.get.text('q')} %}
	</div>
	{% include 'min/inmain/addm/list/list.twig' %}
	{% include 'util/paginator/propel.twig' with {'pager': xrefs} %}
</div>
