{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefCustomer
#}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-2">
				<strong> {{ page.pw_template == 'itm' ? 'Item ID' : 'Customer ID' }}</strong>
			</div>
			<div class="col-sm-4">
				<div class="d-flex justify-content-between">
					<div>
						{{ page.pw_template == 'itm' ? item.itemid : item.custid }}
					</div>
					<div>
						{{ page.pw_template == 'itm' ? item.item.description : item.customer.name }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		{% include 'items/cxm/xref/form/form.twig' %}
	</div>
</div>
