{% if qnotes.notesExist(code.code) %}
	<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#notes-modal" data-type="{{ qnotes.type() }}" data-description="{{ qnotes.typeDescription()|capitalize }}">
		<i class="fa fa-pencil" aria-hidden="true"></i> Edit
	</button>
{% else %}
	<button type="button" class="btn btn-secondary btn-sm notes_button" data-toggle="modal" data-target="#notes-modal" data-type="{{ qnotes.type() }}" data-description="{{ qnotes.typeDescription()|capitalize }}">
		<i class="fa fa-plus" aria-hidden="true"></i> Add
	</button>
{% endif %}
