{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	mxrfe                  module XrefMxrfe
	xref                   ItemXrefManufacturer
#}
{% extends 'items/mxrfe/display.twig' %}

{% block body %}
	<div class="card-body">
		{% include 'items/mxrfe/item/form/form.twig' %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
