<div class="row form-group">
	<div class="col-sm-3">
		<label for="mnfrID">Mnfr / Comp ID</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'attributes': {
						'readonly': xref.mnfrid ? true : false,
						'tabindex': xref.mnfrid ? '-1' : ''
					},
					'input': {
						'name': 'mnfrID',
						'value': xref.mnfrid,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Vendor ID',
							'tabindex': xref.mnfrid ? '-1' : ''
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Vendors',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.search_lookupURL('vendors'),
							'data-input': '#mnfrID'
						}
					}
				}
			}
		%}
		<small class="form-text text-muted mnfr-name">{{ xref.mnfr.name }}</small>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-3">
		<label for="mnfritemID">Mnfr / Comp Item ID</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/form/input.twig' with {
				'name': 'mnfritemID', 'value': xref.mnfritemid,
				'attributes': {
					'data-mnfritemid': xref.mnfritemid,
					'data-new': xref.isNew() ? 'true' : 'false',
					'readonly': xref.mnfritemid ? true : false,
					'tabindex': xref.mnfritemid ? '-1' : '',
				}
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<b>Our Item ID</b>
	</div>
	<div class="col-sm-8 item-col">
		{% include 'util/form/input-with-modal-lookup.twig' with {
				'name': 'itemID', 'value': xref.itemid,
				'attributes': {
					'readonly': xref.itemid ? true : false,
					'tabindex': xref.itemid ? '-1' : '',
				},
				'modaltarget': '#ajax-modal',
				'modaldescription': 'Search for / Choose Item',
				'attributes_button': {
					'data-search': 'item',
					'data-lookupurl': page.search_lookupURL('items')
				}
			}
		%}
		<small class="form-text text-muted item-description">{{ xref.imitem.description }}</small>
		<small class="form-text text-muted item-description2">{{ xref.imitem.description2 }}</small>
	</div>
</div>
