{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	mxrfe                  module XrefMxrfe
	xref                   ItemXrefManufacturer
	vendor                 Vendor
	qnotes                 module QnotesItemMxrfe
	qnotes.notes.mnfr      moudle QnotesMnfr
#}
<div class="row mb-1">
	<div class="col-sm-4">
		<strong>Internal Notes</strong>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext form-control-sm">
			{{ qnotes.intv.notes_exist(xref.mnfrid, xref.mnfritemid, '')|yesorno|capitalize }}
		</p>
	</div>
</div>
<div class="row mb-1">
	<div class="col-sm-4">
		<strong>Mnfr Notes</strong>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext form-control-sm">
			{{ qnotes.mnfr.exist(xref.mnfrid, xref.mnfritemid)|yesorno|capitalize }}
		</p>
	</div>
</div>
<div class="row mb-1">
	<div class="col-sm-4">
		<strong>Misc Notes</strong>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext form-control-sm">
			{{ qnotes.mmsc.exist(xref.mnfrid, xref.mnfritemid)|yesorno|capitalize }}
		</p>
	</div>
</div>
