<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="table" value="worm">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" value="" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" value="" id="description">
	</div>

	<div class="form-group">
	    <label for="yesno">Write Off?</label>
	    <select name="yesno" class="form-control" id="yesno">
	        <option value="Y">Yes</option>
	        <option value="N">No</option>
	    </select>
    </div>

	<button type="submit" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
	</button>
</form>
