<div class="row">
	{% if user.can_editorder(order) %}
		<div class="col">
			<button class="btn btn-block btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit Order</button>
		</div>
	{% endif %}
</div>
