<div id="notes">
	<h3 class="font-weight-bold text-secondary">Notes</h3>
	<table class="table table-striped">
		<tr class="bg-dark text-white">
			<th>Subtype</th>
			<th>Customer</th>
			<th>Regarding/Title</th>
		</tr>
		{% for note in notes %}
			<tr>
				<td>{{ note.sessionid }}</td>
				<td>{{ note.rectype }}</td>
				<td>{{ note.notefld }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
