<div id="tracking">
	<h3 class="font-weight-bold text-secondary">Tracking</h3>
	<table class="table table-striped">
		<tr class="bg-dark text-white">
			<th>Ship Date</th>
			<th>Delivery Service</th>
			<th>Tracking Number</th>
		</tr>
		{% if order.countSalesOrderShipments() %}
			{% for shipment in order.getSalesOrderShipments() %}
				<tr>
					<td>{{ shipment.shipdate|convertdate("m/d/Y") }}</td>
					<td>{{ shipment.deliveredby }}</td>
					<td>
						<a href="{{ urlmaker.get_trackingURL(shipment.deliveredby, shipment.trackingnbr) }}" target="_blank" class="link">
							{{ shipment.trackingnbr }}
						</a>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="3" class="text-center font-weight-bold">No Tracking Data Available</td>
			</tr>
		{% endif %}
	</table>
</div>
