<div class="modal fade" id="specialorder-item-modal" tabindex="-1" aria-labelledby="specialorder-item-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="specialorder-item-modal-label">Special Order Details for Line #<span class="linenbr"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody class="nonstock collapse show">
						<tr>
							<td colspan="2" class="bg-dark text-white text-center">
								Non-stock / Special Order Information
							</td>
						</tr>
						<tr>
							<td>Vendor ID</td>
							<td><span class="vendorid"></span></td>
						</tr>
						<tr>
							<td>Item ID</td>
							<td><span class="vendoritemid"></span></td>
						</tr>
						<tr>
							<td>Group</td>
							<td><span class="nsitemgroupid"></span></td>
						</tr>
						<tr>
							<td>PO Nbr</td>
							<td><span class="ponbr"></span></td>
						</tr>
						<tr>
							<td>Reference</td>
							<td><span class="poref"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
