<div id="user-actions">
	<h3 class="font-weight-bold text-secondary">User Actions</h3>
	<div class="card mb-4">
		<div class="card-header d-flex justify-content-between bg-primary">
			<a class="text-white" data-toggle="collapse" href="#user-actions-collapse" role="button" aria-expanded="false" aria-controls="user-actions-list">
				<i class="fa fa-check-square-o" aria-hidden="true"></i> User Actions for Sales Order # {{ ordn }} <i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<span class="badge badge-pill badge-light"></span>
			<a href="{{ page.get_createactionURL() }}" class="btn btn-info btn-sm pull-right create-action" title="Add Action for Sales Order # {{ ordn }}" aria-label="Add Action for Sales Order # {{ ordn }}">
				<i class="fa fa-plus-square" aria-hidden="true"></i>
			</a>
		</div>
		<div class="collapse show" id="user-actions-collapse">
			{% include 'user-actions/actions-list.twig' %}
		</div>
	</div>
</div>
