<div class="mb-3">
	<h2>{{ shipfrom.name }}</h2>
	{% include 'vendors/vi/contacts/ship-from/ship-from.twig' %}
</div>

<div class="mb-3">
	<h2>Contacts</h2>
	{% include 'vendors/vi/contacts/ship-from/contacts.twig' %}
</div>
