<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-2">
				<strong> Item ID:</strong>
			</div>
			<div class="col-sm-6">
				{{ item.itemid }} - {{ item.description }}
			</div>
		</div>
	</div>
	{% include 'items/itm/xrefs/mxrfe/list/list.twig' %}
</div>
<hr>
