<div class="row mb-3">
	<div class="col-sm-4">
		<label for="code">Code</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'code',
					'value': code.code,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'maxlength': manager.fieldAttribute('code', 'maxlength'),
						'readonly': code.isNew() == false,
						'tabindex': code.isNew() == false ? '-1' : '',
					}
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-4">
		<label for="description">Description</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'description',
					'value': code.description,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'maxlength': manager.fieldAttribute('description', 'maxlength')
					}
				}
			}
		%}
	</div>
</div>
