{% extends 'mar/arproc/ecr/customer/display.twig' %}

{% block body %}
	<div class="card-body">
		<form action="">
			<div class="row">
				<div class="col-sm-6">
					{% include 'mar/arproc/ecr/customer/payment/form/readonly.twig' %}
					<div class="row">
						<div class="col-sm-4 mb-3">
							<label for="checknbr">Check Number</label>
						</div>
						<div class="col-sm-8 mb-3">
							{% include 'util/bootstrap/form/input.twig' with {
									'input': {
										'name': 'checknbr',
										'size': 'sm',
										'value': payment.checknbr,
										'attributes': {
											'placeholder': '',
											'aria-label':  'Check Number'
										}
									}
								}
							%}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 mb-3">
							<label for="paymentdate">Payment Date</label>
						</div>
						<div class="col-sm-8 mb-3">
							{% include 'util/date-picker.twig' with {'name': 'paymentdate', 'id': 'paymentdate', 'value': ''} %}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 mb-3">
							<label for="cashacct">Cash Account</label>
						</div>
						<div class="col-sm-8 mb-3">
							{% include 'util/bootstrap/form/input-group.twig' with {
									'inputgroup': {
										'type': 'prepend',
										'input': {
											'name': 'cashacct',
											'value': '',
											'attributes': {
												'placeholder': '',
												'aria-label':  'Cash Account Numbers'
											}
										},
										'button': {
											'colorclass': 'btn-secondary',
											'text': 'fa fa-search'|icon,
											'attributes': {
												'title': 'Search Cash Accounts',
												'data-toggle': 'modal',
												'data-target': '#ajax-modal',
												'data-lookupurl': page.search_lookupURL('customers'),
												'data-input': '#cashacct'
											}
										}
									}
								}
							%}
						</div>
					</div>
				</div>
				<div class="col-sm-6"></div>
			</div>
		</form>
	</div>
{% endblock %}
