<form action="" id="payment-form">
	<div class="row">
		<div class="col-sm-8">
			{% include 'mar/arproc/ecr/customer/payment/form/left.twig' %}
		</div>
		<div class="col-sm-4">
			{% include 'mar/arproc/ecr/customer/payment/form/right.twig' %}
		</div>
	</div>
</form>
