<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2">
				<label for="id">ID</label>
			</div>
			<div class="col-sm-6 mb-3">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'id', 'value': code.id,
							'size': 'sm',
							'attributes': {
								'readonly': code.id != '',
								'tabindex': code.id != '',
								'maxlength': trm.fieldAttribute('id', 'maxlength')
							}
						}
					}
				%}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2">
				<label for="description">Description</label>
			</div>
			<div class="col-sm-6 mb-3">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'name', 'value': code.description,
							'size': 'sm',
							'attributes': {
								'maxlength': trm.fieldAttribute('description', 'maxlength')
							},
						}
					}
				%}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2">
				<label for="method">Method</label>
			</div>
			<div class="col-sm-6 mb-3">
				{% include 'util/bootstrap/form/select-simple.twig' with {
						'select': {
							'size': 'sm',
							'name': 'method',
							'value' : code.method,
							'haskeys': true,
							'showvalue': true,
							'options': trm.fieldAttribute('method', 'options')
						}
					}
				%}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2">
				<label for="type">Type</label>
			</div>
			<div class="col-sm-6 mb-3">
				{% include 'util/bootstrap/form/select-simple.twig' with {
						'select': {
							'size': 'sm',
							'name': 'type',
							'value' : code.type,
							'haskeys': true,
							'showvalue': true,
							'options': trm.fieldAttribute('type', 'options')
						}
					}
				%}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2">
				<label for="type">CC Prefix</label>
			</div>
			<div class="col-sm-6 mb-3">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': 'ccprefix',
								'value': code.ccprefix,
								'attributes': {
									'placeholder': '',
									'aria-label':  'Credit Card Prefix'
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search Customers',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('customers'),
									'data-input': '#custid'
								}
							}
						}
					}
				%}
			</div>
		</div>
	</div>
</div>
