<div class="row">
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="code">Code</label>
			</div>
			<div class="col-sm-6 input-parent">
				<div class="col-sm-4 px-0">
					{% include 'code-tables/mar/trm/edit/form/inputs/code.twig' %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="description">Description</label>
			</div>
			<div class="col-sm-7">
				{% include 'code-tables/mar/trm/edit/form/inputs/description.twig' %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="method">Method</label>
			</div>
			<div class="col-sm-4">
				{% include 'code-tables/mar/trm/edit/form/inputs/method.twig' %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="type">Type</label>
			</div>
			<div class="col-sm-4">
				{% include 'code-tables/mar/trm/edit/form/inputs/type-s.twig' %}
				{% include 'code-tables/mar/trm/edit/form/inputs/type-e.twig' %}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="ccprefix">CC Prefix</label>
			</div>
			<div class="col-sm-6 input-parent">
				<div class="col-sm-4 px-0">
					{% include 'code-tables/mar/trm/edit/form/inputs/ccprefix.twig' %}
				</div>
				<small class="text-muted ajax-description description"></small>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="hold">Hold</label>
			</div>
			<div class="col-sm-2">
				{% include 'code-tables/mar/trm/edit/form/inputs/hold.twig' %}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="freightallow">Freight Allow</label>
			</div>
			<div class="col-sm-2">
				{% include 'code-tables/mar/trm/edit/form/inputs/freightallow.twig' %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row mb-3">
			<div class="col-sm-4">
				<label for="expiredate">Expire Date</label>
			</div>
			<div class="col-sm-4">
				{% include 'code-tables/mar/trm/edit/form/inputs/expiredate.twig' %}
			</div>
		</div>
	</div>
</div>