{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	mxrfe                  module XrefMxrfe
	xref                   ItemXrefManufacturer
	qnotes                 module QnotesItemMxrfe
	qnotes.mmsc            module QnotesMmsc
#}
<textarea class="form-control-plaintext w-auto qnotes" id="misc-notes" rows="8" cols="{{ qnotes.mmsc.get_column_count() }}" readonly>{{ qnotes.mmsc.notes_array(xref.mnfrid, xref.mnfritemid)|join('\r') }}</textarea>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#notes-mmsc-modal" data-notesinput="#misc-notes">
	<i class="fa fa-pencil"></i> Edit
</button>
