{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	inventory              Dplus\Wm\Inventory\BinInquiry
	items                  InvWhseLot[]
	warehouse              Warehouse
#}

{% if page.is_print() == false %}
	<div class="form-group">
		<a href="{{ input.url() }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Search
		</a>
		&nbsp;
		<a href="{{ page.printableUrl(input.get.text('binID')) }}" class="btn btn-primary">
			<i class="fa fa-print" aria-hidden="true"></i> Print
		</a>
		&nbsp;
		<button class="btn btn-secondary show-hide-all">Show / Hide All</button>
	</div>
{% endif %}

{% if items.count() %}
	{% if config.twigloader.exists('warehouse/inventory/find-item/results/list-' ~ config.company ~'.twig') %}
		{% include 'warehouse/inventory/find-item/results/list-' ~ config.company ~'.twig' %}
	{% else %}
		{% include 'warehouse/inventory/find-item/results/list.twig' %}
	{% endif %}
{% else %}
	{% include 'util/alert.twig' with {
			'type': 'warning',
			'iconclass': 'fa fa-warning fa-2x',
			'title': 'No items found', 
			'message': 'No items found matching ' ~ input.get.text('q')
		} 
	%}
{% endif %}