{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
	optm                   Dplus\Codes\{Min\Ioptm | Map\Aoptm | Mar\Roptm| Mso\Soptm}
#}

{% set response = optm.getResponse() %}

<div class="mb-3">
	{% include 'code-tables/optm/bread-crumbs.twig' %}
</div>

<div class="mb-3">
	{% include 'code-tables/optm/list/toolbar.twig' %}
</div>

{% if input.get.offsetExists('print') %}
	<div class="d-flex justify-content-between mb-3">
		<div>{{ 'now'|date('m/d/Y h:i A') }}</div>
		<div>{{ page.headline }}</div>
		<div></div>
	</div>
{% endif %}

{% if response and response.hasSuccess() == false %}
	<div class="mb-3">
		{% include 'code-tables/response.twig' %}
	</div>
{% endif %}

{% include 'code-tables/optm/list/list.twig' %}

{% if input.get.offsetExists('print') == false %}
	{% include 'util/paginator/propel.twig' with {'pager': codes} %}
{% endif %}
