{% extends 'items/ii/display.twig' %}

{% block body %}
	<div class="mt-3">
		{% if json['data']['kit'] %}
			<h4 class="px-3">Kits</h4>
			{% include 'items/ii/where-used/kit.twig' %}
		{% endif %}

		{% if json['data']['bom'] %}
			<h4 class="px-3">BoMs</h4>
			{% include 'items/ii/where-used/bom.twig' %}
		{% endif %}
	</div>
{% endblock %}

{% block footer %}

{% endblock %}
