{% extends 'items/ii/display.twig' %}

{% block body %}
	<div class="mt-3">
		<h4 class="px-3">Available Lot / Serial Numbers</h4>
		{% include 'items/ii/lotserial/lotserial.twig' %}
	</div>
{% endblock %}

{% block footer %}

{% endblock %}
