{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 module ConfigsWarehouseInventory
	resultscount           number of items returned
	items                  Invsearch[]|ObjectCollection
	warehouse              Warehouse
	inventory              module SearchInventory
#}
<div class="list-group">
	{% if (inventory.count_itemids_distinct(page.binID)) %}
		{% for item in inventory.get_items_distinct(page.binID) %}
			<div class="list-group-item px-2">
				<h5 class="mb-1">ITEMID: {{ item.itemid }}</h5>
				<p class="mb-1">
					<small>
						{{ item.desc1 }} {{ item.desc2 ? ('<br>' ~ item.desc2)|raw : '' }}
					</small>
				</p>

				{% include 'warehouse/inventory/find-item/provalley/breakdown/lotserial.twig' %}
			</div>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<p class="text-center">No items found in Bin <strong>{{ page.binID }}</strong></hp>
		</div>
	{% endif %}
</div>
