{# igcm is an instance of InvCommissionCode #}
{# data-code is for verifying edit vs new #}
<form action="{{ page.url }}" method="POST" id="code-edit-form" data-code="">
	<input type="hidden" name="table" value="igcm">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ max_length_code }}" value="" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" maxlength="20" value="" id="description">
	</div>

	<div class="modal-footer">
		<div class="d-flex justify-content-between align-items-center">
			<button type="submit" class="btn btn-success form_button">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			<button type="button" class="btn btn-warning" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Close
			</button>
		</div>
	</div>
</form>
