<div class="form-group row">
	<div class="col-sm-4">
		<label>Item ID</label>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext">{{ item.itemid }}</p>
		<p class="form-control-plaintext"><small>{{ item.description }}</small></p>
		<p class="form-control-plaintext"><small>{{ item.description2 }}</small></p>
	</div>
</div>
