<div class="row">
	<div class="col-sm-6">
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="id">ID</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'id', 'value': rep.id,
							'size': 'sm',
							'attributes': {
								'readonly': rep.id != '',
								'tabindex': rep.id != '',
								'maxlength': spm.fieldAttribute('id', 'maxlength')
							}
						}
					}
				%}
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="name">Name</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'name', 'value': rep.name,
							'size': 'sm',
							'attributes': {
								'maxlength': spm.fieldAttribute('name', 'maxlength')
							},
						}
					}
				%}
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="groupid">Group</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': 'groupid',
								'value': rep.groupid,
								'attributes': {
									'placeholder': '',
									'aria-label':  'Salesperson Group ID',
									'maxlength': spm.fieldAttribute('groupid', 'maxlength')
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search Salesperson Group ID',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('mar/spgpm'),
									'data-input': '#groupid'
								}
							}
						}
					}
				%}
				<small class="text-muted group-description">{{ spm.groupCodeDescription(rep.groupid) }}</small>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="cycle">Commission Cycle</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'cycle', 'value': rep.cycle,
							'size': 'sm',
							'attributes': {
								'maxlength': spm.fieldAttribute('cycle', 'maxlength')
							},
							'addclasses': [
								'w-25'
							]
						}
					}
				%}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="userid">Login ID</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': 'userid',
								'value': rep.userid,
								'attributes': {
									'placeholder': '',
									'aria-label':  'Login ID',
									'maxlength': spm.fieldAttribute('userid', 'maxlength')
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search Login IDs',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('users'),
									'data-input': '#userid'
								}
							}
						}
					}
				%}
				<small class="text-muted logm-username">{{ spm.logmUserName(rep.userid) }}</small>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<label for="manager">Manager</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/select-simple.twig' with {
						'select': {
							'name': 'manager',
							'value': rep.manager,
							'haskeys': true,
							'options': {'Y': 'yes', 'N': 'no'},
							'capitalizelabels': true,
							'addclasses': [
								'w-25'
							]
						}
					}
				%}
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<label for="lastsaledate">Last Sale</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/date-picker.twig' with {
						'inputgroup': {
							'input': {
								'name': 'lastsaledate',
								'value': rep.lastsaledate ? rep.lastsaledate|convertdate : '',
								'attributes': {
									'placeholder': '',
									'aria-label':  'Last Sales Date'
								}
							}
						}
					}
				%}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<legend>Sales & Commission</legend>
		{% include 'code-tables/mar/spm/rep/form/sales-figures.twig' %}
	</div>
	<div class="col-sm-6">
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="vendorid">Vendor ID</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'size': 'sm',
							'type': 'prepend',
							'input': {
								'name': 'vendorid',
								'value': rep.vendorid,
								'attributes': {
									'placeholder': '',
									'aria-label':  'Vendor ID'
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search Vendor IDs',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('vendors'),
									'data-input': '#vendorid'
								}
							}
						}
					}
				%}
				<small class="text-muted vendor-name">{{ spm.vendorName(rep.vendorid) }}</small>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="restricted">Restricted</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/select-simple.twig' with {
						'select': {
							'name': 'restricted',
							'value': rep.restricted,
							'haskeys': true,
							'options': {'Y': 'yes', 'N': 'no'},
							'capitalizelabels': true,
							'addclasses': [
								'w-25'
							]
						}
					}
				%}
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-3">
				<label for="email">Email</label>
			</div>
			<div class="col-sm-6">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'email', 'value': rep.email,
							'type': 'email',
							'size': 'sm'
						}
					}
				%}
			</div>
		</div>
	</div>
</div>
