{# var response is an instance of XrefResponse #}

{% set type  = response.hasError() ? 'danger' : 'success' %}
{% set size  = response.fields      ? 'fa-3x' : 'fa-2x'%}
{% set icon  = response.hasError() ? 'fa fa-warning' : 'fa fa-floppy-o' %}
{% set iconclass = icon ~ ' ' ~ size %}

{% set title = response.hasError() ? 'Error!' : 'Success!' %}


<div id="xref-alert" class="mb-3">
	{% include 'util/form/alert.twig' with {'type': type, 'iconclass': iconclass, 'title': title, 'message': response.message, 'fields': response.fields } %}
</div>
