<form action="" id="create-po-form" method="post">
	<input type="hidden" name="action" value="create-po">

	<div class="row">
		<div class="col-sm-1 form-group">
			<label>PO Nbr</label>
		</div>
		<div class="col-sm-4 form-group">
			{% include 'util/form/input-with-modal-lookup.twig' with {
					'name': 'ponbr', 'value': '',
					'attributes': {},
					'modaltarget': '#ajax-modal',
					'modaldescription': 'Search for / Choose Purchase Order',
					'attributes_button': {
						'data-search': 'ponbr',
						'data-lookupurl': page.search_lookupURL('purchase-orders'),
						'data-input': '#ponbr'
					}
				}
			%}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1 form-group">
			<label for="vendorID">Vendor ID</label>
		</div>
		<div class="col-sm-4 form-group">
			{% include 'util/form/input-with-modal-lookup.twig' with {
					'name': 'vendorID', 'value': '',
					'attributes': {},
					'modaltarget': '#ajax-modal',
					'modaldescription': 'Search for / Choose Vendor',
					'attributes_button': {
						'data-search': 'vendor',
						'data-lookupurl': page.search_lookupURL('vendors'),
						'data-input': '#vendorID'
					}
				}
			%}
			<small id="vendorname" class="form-text text-muted">{{ vendor.name }}</small>
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-success">Create</button>
	</div>
</form>
