{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
#}
<form action="{{ page.url }}" class="allow-enterkey-submit" method="post" id="add-item-form">
	<input type="hidden" name="action" value="add-item">
	<input type="hidden" name="ponbr" value="{{ po.ponbr }}">
	<div class="row">
		<div class="col-sm-3">
			{% include 'util/form/input-with-modal-lookup.twig' with {
					'name': 'itemID', 'id': 'additemID', 'value': '',
					'attributes': {

					},
					'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Item',
					'attributes_button': {
						'data-search': 'item',
						'data-input': '#additemID',
						'data-lookupurl': page.search_lookupURL('items'),
					}
				}
			%}
			<div class="descriptions collapse">
				<div class="mt-1">
					<small class="desc1"></small> <br>
					<small class="desc2"></small>
					{% if page.modules.get('ScreenFormatters').formatter('ii:item').is_weight_formatted() %}
						<br> <small>Avg Weight:</small> <small class="weight"></small>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-sm-1 text-center">
			<span class="uom"></span>
		</div>
		<div class="col-sm-1 text-right">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': 'qty',
						'id': 'qty',
						'type': 'number'
					},
					'addclasses': [
						'text-right qty-input'
					]
				}
			%}
		</div>
		<div class="col-sm-2 text-right">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': 'cost',
						'id': 'cost',
						'type': 'number'
					},
					'addclasses': [
						'text-right qty-input'
					]
				}
			%}
		</div>
		<div class="col-sm-2 text-right">
			<div class="input-group">
				<button type="submit" class="btn btn-sm btn-primary">
					<i class="fa fa-plus" aria-hidden="true"></i> Add
				</button>
			</div>
		</div>
		<div class="col-sm-5"></div>
	</div>
</form>
