<div class="mb-3">
	<div class="row">
		<div class="col">
			<a href="{{ page.listpage.url }}" class="btn btn-light">
				<i class="fa fa-list" aria-hidden="true"></i> View Quotes List
			</a>
			<a href="{{ page.unlock_quoteURL(quote.quotenumber) }}" class="btn btn-secondary" aria-label="View Quote #{{ quote.quotenumber }}">
				View Quote #{{ quote.quotenumber }}
			</a>
		</div>
	</div>
</div>
