{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	addm                   Dplus\Min\Inmain\Addm\Addm
	item                   ItemMasterItem
#}
{% extends 'items/itm/display.twig' %}

{% block body %}
	{% include 'items/itm/xrefs/addm/list/list.twig' %}
{% endblock %}

{% block footer %}
	<div class="card-footer">
		<div class="d-flex justify-content-between align-items-center">
			<div></div>
			<div>
				<a href="{{ page.addmExitUrl(input.get.text('itemID')) }}" class="btn btn-warning btn-sm">
					<i class="fa fa-times" aria-hidden="true"></i> Close
				</a>
			</div>
		</div>
	</div>
{% endblock %}
