<div>
	<h2>Take your Picked Items to the Packaging area</h2>
	<table class="table table-condensed table-striped">
		<tr>
			<td class="control-label">Order #</td> <td class="text-right">{{ ordn }}</td>
		</tr>
	</table>
	<a href="{{ page.get_exitorderURL() }}" class="btn btn-info">Next Order</a>
</div>
