{# mfcm is an instance of MotorFreightCode #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control form-control-sm" maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control form-control-sm" maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description">
	</div>

	<div class="form-group">
		<label for="conversion">Conversion</label>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'conversion',
					'type': 'number',
					'value': 1.00,
					'addclasses': ['text-right'],
					'attributes': {
						'aria-label':  'Conversion',
						'precision': manager.fieldAttribute('conversion', 'precision')
					}
				}
			}
		%}
	</div>

	<div class="form-group">
		<label for="pricebyweight">Price By Weight</label>
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'pricebyweight',
					'value' : manager.fieldAttribute('pricebyweight', 'default'),
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>

	<div class="form-group">
		<label for="stockbycase">Stock By Case</label>
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'stockbycase',
					'value' : manager.fieldAttribute('stockbycase', 'default'),
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<div>
			<a href="{{ page.codeDeleteUrl('') }}" class="btn btn-danger delete_button collapse">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
