{# umm is an instance of UnitofMeasureSale #}
<form action="{{ page.url }}" method="POST" id="code-edit-form" data-code="">
	<input type="hidden" name="table" value="umm">
	<input type="hidden" name="serialized" value="" disabled>

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ max_length_code }}" value="" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" maxlength="20" value="" id="description">
	</div>

	<div class="form-group">
		<label for="conversion">Conversion Factor</label>
		<input type="text" name="conversion" class="form-control" value="" id="conversion">
	</div>

	<div class="form-group">
		<label for="pricebyweight">Price by Weight</label>
		{% include 'util/select.twig' with {'name': 'pricebyweight', 'id': 'pricebyweight', 'hideblankoption' : 'true', 'options': {'S': 'Standard Weight', 'C': 'Catch Weight', 'N': 'Neither'}} %}
	</div>

	<div class="form-group">
		<label for="stockbycase">Stock By Case</label>
		<select name="stockbycase" class="form-control select-group" id="stockbycase">
			<option value="N">No</option>
			<option value="Y">Yes</option>
		</select>
	</div>

	<div class="d-flex justify-content-between align-items-center mb-3">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
