{#
	var                    Description / Instance of
	-------------------------------------------------
	item                   ItemMasterItem
#}
<div class="row">
	<div class="col-sm-6">
		{% include 'items/itm/xrefs/form.twig' %}
	</div>
	<div class="col-sm-6">
		{% include 'items/itm/xrefs/xrefs-table.twig' %}
	</div>
</div>
