{#
	var                    Description / Instance of
	-------------------------------------------------
	item                   ItemMasterItem
	itm                    module Itm
#}
{% extends 'items/itm/pricing/display.twig' %}

{% block body %}
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				{% include 'items/itm/xrefs/form.twig' %}
			</div>
			<div class="col-sm-6">
				{% include 'items/itm/xrefs/xrefs-table.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
