<div class="row">
	<div class="col-sm-6">
		<h3>{{ heading }}</h3>
	</div>
	<div class="col-sm-6 text-right">
		<a href="{{ page.cxm_item_newURL() }}" class="btn btn-secondary">
			<i class="fa fa-plus" aria-hidden="true"></i> Add New
		</a>
	</div>
</div>
