{% extends 'items/itm/display.twig' %}

{% block header %}
	<div class="card-header">
		<div class="row">
			<div class="col-sm-2">
				<strong>Item ID:</strong>
			</div>
			<div class="col-sm-6">
				{{ item.itemid }} - {{ item.description }}
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	{% include 'mki/kim/kit/components.twig' %}
{% endblock %}

{% block footer %}
	<div class="card-footer">
		<div class="d-flex justify-content-between align-items-center">
			<div></div>
			<div>
				<a href="{{ page.kitExitUrl(kit.itemid) }}" class="btn btn-warning btn-sm">
					<i class="fa fa-times" aria-hidden="true"></i> Close
				</a>
			</div>
		</div>
	</div>
{% endblock %}
