{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values      = input.get %}
{% set segments    = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> SOMAIN
		</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fa fa-microchip" aria-hidden="true"></i> LSM
	</li>
{% endblock %}
