<div class="card">
	<div class="card-header bg-light">
		AR Optional Codes for {{ sysop.id }}
	</div>

	{% include 'mar/armain/roptm/sysop/list/list.twig' %}
</div>

{% include 'mar/armain/roptm/sysop/edit/modal.twig' %}
