{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}

{% block current_page %}
	{% if values.offsetExists('sysop') == false %}
		<li class="breadcrumb-item active" aria-current="page">
			ROPTM
		</li>
	{% endif %}

	{% if values.offsetExists('sysop') %}
		<li class="breadcrumb-item">
			<a href="{{ page.aoptmUrl() }}">
				<i class="fa fa-list" aria-hidden="true"></i> ROPTM
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ values.text('sysop') }}
		</li>
	{% endif %}
{% endblock %}
