<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form">
	<input type="hidden" name="itemID" id="itemID" value="{{ input.get.text('itemID') }}">
	<input type="hidden" name="system" id="system" value="IN">

	<div class="row form-group">
		<div class="col-sm-4">
			<label for="sysop">Option</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': 'sysop',
						'value': '',
						'attributes': {
							'placeholder': '',
							'aria-label':  'Code',
							'readonly': true,
							'data-system': 'IN',
						},
						'addclasses': [
							'form-control-plaintext'
						]
					},
				}
			%}
			<small class="form-text text-muted sysop-description"></small>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-sm-4">
			<label for="optioncode">Code</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/bootstrap/form/input-group.twig' with {
					'inputgroup': {
						'type': 'prepend',
						'input': {
							'name': 'code',
							'value': '',
							'attributes': {
								'placeholder': '',
								'aria-label':  'Code',
								'data-jqv': 'true'
							}
						},
						'button': {
							'colorclass': 'btn-secondary',
							'text': 'fa fa-search'|icon,
							'attributes': {
								'title': 'Search Options',
								'data-toggle': 'modal',
								'data-target': '#ajax-modal',
								'data-lookupurl': '',
								'data-input': '#code',
								'data-system': 'IN',
							}
						}
					}
				}
			%}
			<small class="form-text text-muted code-description">Description</small>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button" name="action" value="update">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="submit" class="btn btn-secondary clear-option" name="action" value="delete">
			<i class="fa fa-eraser" aria-hidden="true"></i> Clear
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
