{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
#}
<div class="modal fade" id="item-edit-modal" tabindex="-1" role="dialog" aria-labelledby="item-edit-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="item-edit-modal-label">
					Edit Line # <span class="linenbr"></span> Qty
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ page.url }}" method="post" class="allow-enterkey-submit">
					<input type="hidden" name="action" value="update-lotserial-qty">
					<input type="hidden" name="ponbr" value="{{ page.wire('input').get.text('ponbr') }}">
					<input type="hidden" name="linenbr" value="0">
					<input type="hidden" name="originalbinID" value="">
					<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="edit-itemID">ItemID</label>
								<input type="text" class="form-control" name="itemID" id="edit-itemID" readonly>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="uom">UoM</label>
								<input type="text" class="form-control" name="uom" id="uom" readonly>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="lotserial">Lot / Serial</label>
								<div class="input-group">
									<input type="text" class="form-control" id="lotserial" name="lotserial" readonly>
									<input type="hidden" class="form-control" id="lotserial" name="lotserial">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="lotserialref">Lot/Serial Ref</label>
								<div class="input-group">
									<input type="text" class="form-control" id="lotserialref" name="lotserialref" readonly>
									<input type="hidden" class="form-control" id="lotserialref" name="lotserialref">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="binID">Bin ID</label>
								{% include 'util/bootstrap/form/input-group.twig' with {
										'inputgroup': {
											'type': 'prepend',
											'attributes': {
												'readonly': settings.skipBin,
											},
											'input': {
												'name': 'binID',
												'value': item.bin,
												'attributes': {
													'placeholder': 'Bin ID',
													'aria-label':  'binID'
												}
											},
											'button': {
												'colorclass': 'btn-secondary',
												'text': 'fa fa-list'|icon,
												'attributes': {
													'title': 'Show Warehouse Bins',
													'data-toggle': 'modal',
													'data-target': '#bins-modal',
													'aria-label': 'Show Warehouse Bins'
												}
											}
										}
									}
								%}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="edit-qty">Qty</label>
								<input type="text" class="form-control" name="qty" id="edit-qty">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="productiondate">Expire Date</label>
								{% include 'util/date-picker.twig' with {'name': 'productiondate', 'id': 'productiondate', 'value': ''} %}
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						 <button type="button" class="btn btn-warning" data-dismiss="modal">
							 <i class="fa fa-times" aria-hidden="true"></i> Close
						 </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
