<form action="{{ page.formurl }}" method="post">
	<input type="hidden" name="action" value="init-receive">
	<div class="form-group">
		<label for="ponbr">PO Number</label>
		<input type="text" class="form-control" name="ponbr" id="ponbr">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
