<form action="{{ page.url }}" method="get">
	<div class="form-group">
		<label for="ponbr">PO Number</label>
		<input type="text" class="form-control" name="ponbr" id="ponbr">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
