{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
#}
<div class="mb-3">
	{% include 'items/itm/misc/form/misc.twig' %}
</div>
<hr>

{% include 'items/itm/misc/form/hazmat.twig' %}
