<div class="form-group">
	<a href="" class="btn btn-primary not-round">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Search
	</a>
</div>
<div class="list-group">
	{% if (resultscount) %}
		{% for item in items %}
			<div class="list-group-item">
				<div class="row">
					<div class="col-xs-12">
						<h4 class="list-group-item-heading">ITEMID: {% item.itemid %}</h4>
						<p class="list-group-item-text">{% item.desc1 %}</p>

						{% if (item.is_serialized() || item.is_lotted()) : %}
							<p class="list-group-item-text bg-light"><strong>Bin:</strong> (MULTIPLE) <strong>Qty:</strong> {% InventorySearchItem::get_total_qty_itemid(session_id(), item.itemid) %}</p>
							<p></p>
							<button class="btn btn-primary btn-sm" data-toggle="collapse" href="#{% item.itemid %}-lotserial" aria-expanded="false" aria-controls="{% item.itemid %}-lotserial">
								Show / Hide {% strtoupper(item.get_itemtypepropertydesc()) . "S" %}
							</button>
							<div id="{% item.itemid %}-lotserial" class="collapse">
								<div class="list-group">
									{% lotserials = InventorySearchItem::get_all_items_lotserial(session_id(), item.itemid, binID) %}
									{% foreach (lotserials as lotserial) : %}
										<a href="{% binr.get_item_binsURL(lotserial) %}" class="list-group-item binr-inventory-result" data-desc="{% item.get_itemtypepropertydesc() %}" data-item="{% item.get_itemidentifier() %}" data-qty="{% item.qty %}">
											<div class="row">
												<div class="col-xs-12">
													<h4 class="list-group-item-heading">{% strtoupper(lotserial.get_itemtypepropertydesc()) . ": " . lotserial.get_itemidentifier() %}</h4>
													<p class="list-group-item-text bg-light"><strong>Bin:</strong> {% lotserial.bin %} <strong>Qty:</strong> {% lotserial.qty %}</p>
												</div>
											</div>
										</a>
									{% endforeach %}
								</div>
							</div>
						{% else : %}
							<p class="list-group-item-text bg-light"><strong>Bin:</strong> {% item.bin %} <strong>Qty:</strong> {% item.qty %}</p>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% else : %}
		<a href="#" class="list-group-item">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="list-group-item-heading">No items found for "{% item is not empty ? item.itemid : input.get.text('scan') %}"</h3>
					<p class="list-group-item-text"></p>
				</div>
			</div>
		</a>
	{% endif %}
</div>
