{#
	var                    Description / Instance of
	-------------------------------------------------
	warehouse              Warehouse
	inventory              InvsearchQuery
	session                ProcessWire\Session
	config                 module ConfigsBinr
	item                   Invsearch
#}
<div class="modal fade" id="choose-to-bins-modal" tabindex="-1" role="dialog" aria-labelledby="choose-to-bins-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="choose-to-bins-modal-label">Choose To bin for {{ item.get_itemtypedesc()|upper ~ ' ' ~ item.get_itemidentifier() }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% include 'warehouse/binr/to-bins-modal/tabs.twig' %}

				<div class="tab-content" id="to-bins-tab-content">
					<div class="tab-pane fade show active" id="lotserial" role="tabpanel" aria-labelledby="lotserial-tab">
						<h4>Bins That Contain {{ item.get_itemtypepropertydesc()|upper ~ ' ' ~ item.get_itemidentifier() }} </h4>
						{% if loader.exists('warehouse/binr/to-bins-modal/tabs/' ~ session.config.company ~ '/lotserial.twig') %}
							{% include 'warehouse/binr/to-bins-modal/tabs/' ~ session.config.company ~ '/lotserial.twig' %}
						{% else %}
							{% include 'warehouse/binr/to-bins-modal/tabs/lotserial.twig' %}
						{% endif %}
					</div>
					<div class="tab-pane fade" id="itemid-bins" role="tabpanel" aria-labelledby="itemid-tab">
						<h4>All Bins for Item {{ item.itemid }}</h4>
						{% if loader.exists('warehouse/binr/to-bins-modal/tabs/' ~ session.config.company ~ '/itemid.twig') %}
							{% include 'warehouse/binr/to-bins-modal/tabs/' ~ session.config.company ~ '/itemid.twig' %}
						{% else %}
							{% include 'warehouse/binr/to-bins-modal/tabs/itemid.twig' %}
						{% endif %}
					</div>
					<div class="tab-pane fade" id="all-bins" role="tabpanel" aria-labelledby="all-bins-tab">
						<h4>All Bins</h4>
						{% include 'warehouse/binr/to-bins-modal/tabs/all.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
