<div class="row form-group">
	<div class="col-sm-3">
		<label for="id">Login ID</label>
	</div>
	<div class="col-sm-9">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'id',
					'value': duser.id,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'aria-label':  'Login ID',
						'readonly': duser.isNew() == false,
						'maxlength': logm.fieldAttribute('id', 'maxlength'),
						'oninput': 'this.value = this.value.toLowerCase()'
					}
				}
			}
		%}
	</div>
</div>
