<div class="mb-2 form-row">
	<div class="col-sm-3">
		<label for="groupid">Login Group</label>
	</div>
	<div class="col-sm-6 input-parent">
		<div class="row">
			<div class="col-sm-4">
				{% include 'msa/logm/user/form/inputs/groupid.twig' %}
			</div>
			<div class="col-sm-6">
				<p class="form-control-plaintext form-control-sm text-muted ajax-description">
					{{ duser.groupid ? logm.getLgrp().description(duser.groupid) : '' }}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="mb-2 form-row">
	<div class="col-sm-3">
		<label for="roleid">Login Role</label>
	</div>
	<div class="col-sm-6 input-parent">
		<div class="row">
			<div class="col-sm-4">
				{% include 'msa/logm/user/form/inputs/roleid.twig' %}
			</div>
			<div class="col-sm-6">
				<p class="form-control-plaintext form-control-sm text-muted ajax-description">
					{{ duser.roleid ? logm.getLrole().description(duser.roleid) : '' }}
				</p>
			</div>
		</div>
	</div>
</div>