<div class="form-group row">
	<div class="col-sm-3">
		<label for="groupid">Login Group</label>
	</div>
	<div class="col-sm-9">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'groupid',
						'value': duser.groupid,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Login Group'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Login Groups',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('msa/lgrp'),
							'data-input': '#groupid'
						}
					}
				}
			}
		%}
	</div>
</div>

<div class="form-group row">
	<div class="col-sm-3">
		<label for="roleid">Login Role</label>
	</div>
	<div class="col-sm-9">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'roleid',
						'value': duser.roleid,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Login Role'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Login Roles',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('msa/lrole'),
							'data-input': '#roleid'
						}
					}
				}
			}
		%}
	</div>
</div>
