{% set prtd = logm.getPrtd() %}

<div class="mb-2 form-row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<label for="printerbrowse">Browse Printer</label>
	</div>
	<div class="col-sm-4 input-parent">
		<div class="row">
			<div class="col-sm-6">
				{% include 'msa/logm/user/form/inputs/printerbrowse.twig' %}
			</div>
			<div class="col-sm-6">
				<p class="form-control-plaintext form-control-sm text-muted ajax-description">
					{{ prtd.printer(prtd.idByPrinterPitch(duser.printerbrowse)).description }}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="mb-2 form-row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<label for="printerreport">Report Printer</label>
	</div>
	<div class="col-sm-4 input-parent">
		<div class="row">
			<div class="col-sm-6">
				{% include 'msa/logm/user/form/inputs/printerreport.twig' %}
			</div>
			<div class="col-sm-6">
				<p class="form-control-plaintext form-control-sm text-muted ajax-description">
					{{ prtd.printer(prtd.idByPrinterPitch(duser.printerreport)).description }}
				</p>
			</div>
		</div>
	</div>
</div>