<div class="mb-2 form-row">
	<div class="col-sm-3">
		<label for="admin">System Administrator</label>
	</div>
	<div class="col-sm-2">
		{% include 'util/bootstrap/form/select-simple.twig' with {
			'select': {
				'name': 'admin',
				'addclasses': ['form-control-sm'],
				'value' : duser.isAdmin() ? 'Y' : 'N',
				'haskeys': true,
				'options': {'Y': 'Yes', 'N': 'No'}
			}
		} %}
	</div>
</div>

<div class="mb-2 form-row">
	<div class="col-sm-3">
		<label for="citydesk">City Desk</label>
	</div>
	<div class="col-sm-2">
		{% include 'util/bootstrap/form/select-simple.twig' with {
			'select': {
				'name': 'citydesk',
				'addclasses': ['form-control-sm'],
				'value' : duser.isCityDesk() ? 'Y' : 'N',
				'haskeys': true,
				'options': {'Y': 'Yes', 'N': 'No'},
				'attributes': {
					'tabindex': 5,
				}
			}
		} %}
	</div>
</div>

<div class="mb-2 form-row">
	<div class="col-sm-3">
		<label for="reportadmin">Report Admin</label>
	</div>
	<div class="col-sm-2">
		{% include 'util/bootstrap/form/select-simple.twig' with {
			'select': {
				'name': 'reportadmin',
				'addclasses': ['form-control-sm'],
				'value' : duser.isReportAdmin() ? 'Y' : 'N',
				'haskeys': true,
				'options': {'Y': 'Yes', 'N': 'No'},
				'attributes': {
					'tabindex': 6,
				}
			}
		} %}
	</div>
</div>