{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
	optm                   Dplus\Codes\{Min\Ioptm | Map\Aoptm | Mar\Roptm| Mso\Soptm}
#}

{% set response = optm.getResponse() %}

<div class="mb-3">
	{% include 'code-tables/optm/bread-crumbs.twig' %}
</div>

<div class="mb-3">
	{% include 'code-tables/optm/sysop/toolbar.twig' %}
</div>

{% if response and response.hasSuccess() == false %}
	<div class="mb-3">
		{% include 'code-tables/response.twig' %}
	</div>
{% endif %}

<div class="card">
	{% include 'code-tables/optm/sysop/list/list.twig' %}
	<div class="card-body">
		{% include 'util/paginator/propel.twig' with {'pager': codes} %}
	</div>
</div>

{% include 'code-tables/optm/sysop/edit/modal.twig' %}
