{% extends 'mpm/bmm/display.twig' %}

{% block body %}
	{% include 'mpm/bmm/bom/components.twig' %}
{% endblock %}

{% block footer %}
	<div class="card-footer">
		<div class="d-flex justify-content-between align-items-center">

		</div>
	</div>
{% endblock %}
