{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	m_costing              module ItmCosting
#}
<div class="row">
	<div class="col-sm-6">
		{% include 'items/itm/costing/form.twig' %}
		{% include 'items/itm/costing/primary-vendor-item.twig' %}
	</div>
	<div class="col-sm-6">
		{% include 'items/itm/costing/pricing.twig' %}
	</div>
</div>
