{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	m_costing              module ItmCosting
	itm                    module Itm
#}
{% extends 'items/itm/display.twig' %}

{% block body %}
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				{% include 'items/itm/costing/form.twig' %}
				<hr>
				{% include 'items/itm/costing/primary-vendor-item.twig' %}
			</div>
			<div class="col-sm-6">
				{% include 'items/itm/costing/pricing.twig' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
