{#
	var                    Description / Instance of
	-------------------------------------------------
	item                   ItemMasterItem
#}
{% set xref = xref %}

<div class="form-group row">
	<div class="col-sm-4">
		<strong>Primary Vendor </strong>
	</div>
	<div class="col-sm-8">
		{{ xref.vendorid }}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<strong>Item ID </strong> &nbsp;
	</div>
	<div class="col-sm-8">
		{{ xref.vendoritemid }}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<strong>Unit Cost </strong> &nbsp;
	</div>
	<div class="col-sm-8">
		<div class="row mb-2">
			<div class="col-sm-8">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'append',
							'size': 'sm',
							'attributes': {'readonly': true},
							'input': {
								'value': xref.get_unitcost(0)|number_format(m_costing.getConfigPo().decimal_places_cost),
								'addclasses': ['text-right']
							},
							'span': {
								'text': xref.uom_purchase|spacepad(m_costing.getUomCodeLength())|raw,
								'addclasses': ['text-monospace']
							}
						}
					}
				%}
			</div>
			<div class="col-sm-4">
				<p class="form-control-plaintext form-control-sm">{{ xref.date_changed ? xref.date_changed|convertdate : 'N/A' }}</p>
			</div>
		</div>
		{% if xref.uom_purchase != 'EACH' %}
			<div class="row">
				<div class="col-sm-8">
					{% include 'util/bootstrap/form/input-group.twig' with {
							'inputgroup': {
								'type': 'append',
								'size': 'sm',
								'attributes': {'readonly': true},
								'input': {
									'value': xref.uompurchase ? (xref.get_unitcost(0) / xref.uompurchase.conversion)|number_format(m_costing.getConfigPo().decimal_places_cost) : (xref.get_unitcost(0))|number_format(m_costing.getConfigPo().decimal_places_cost),
									'addclasses': ['text-right']
								},
								'span': {
									'text': 'EACH',
									'addclasses': ['text-monospace']
								}
							}
						}
					%}
				</div>
			</div>
		{% endif %}
	</div>
</div>
