{#
	var                    Description / Instance of
	-------------------------------------------------
	item                   ItemMasterItem
#}
{% set xref = item.primaryvxm %}

<div class="form-group row">
	<div class="col-sm-4">
		<strong>Primary Vendor </strong>
	</div>
	<div class="col-sm-8">
		{{ xref.vendorid }} <br>
		{{ xref.vendor.name }}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<strong>Vendor Item</strong>
	</div>
	<div class="col-sm-8">
		{{ xref.vendoritemid }}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<strong>Unit Cost </strong> &nbsp;
	</div>
	<div class="col-sm-8">
		<div class="row mb-2">
			<div class="col-sm-8">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'append',
							'size': 'sm',
							'p': {
								'value': xref.getUnitCostUom(0)|number_format(m_costing.fieldAttribute('cost', 'precision')),
								'addclasses': ['text-right', 'border-0']
							},
							'span': {
								'text': xref.uom_purchase|spacepad(m_costing.getUomCodeLength())|raw,
								'addclasses': ['text-monospace']
							}
						}
					}
				%}
			</div>
			<div class="col-sm-4">
				<p class="form-control-plaintext form-control-sm">{{ xref.date_changed ? xref.date_changed|convertdate : 'N/A' }}</p>
			</div>
		</div>
		{% if xref.uom_purchase != 'EACH' %}
			<div class="row">
				<div class="col-sm-8">
					{% include 'util/bootstrap/form/input-group.twig' with {
							'inputgroup': {
								'type': 'append',
								'size': 'sm',
								'p': {
									'value': xref.get_unitcost(0)|number_format(m_costing.fieldAttribute('cost', 'precision')),
									'addclasses': ['text-right', 'border-0']
								},
								'span': {
									'text': 'EACH',
									'addclasses': ['text-monospace']
								}
							}
						}
					%}
				</div>
			</div>
		{% endif %}
	</div>
</div>
