{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	qnotes                 module QnotesItemXrefCustomer
	item                   ItemXrefCustomer
	item.item              ItemMasterItem
#}

<div class="row form-group">
	<div class="col-sm-4">
		<label>Notes</label>
	</div>
	<div class="col-sm-8">
		{{ qnotes.notes_exist_item(item.itemid, item.custid)|yesorno|capitalize }}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="revision">Revision</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm" name="revision" id="revision" value="{{ item.revision }}">
	</div>
</div>
