{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	code              Warehouse
	ctm                   Dplus\Codes\Mar\Ctm
#}

{# data-code is for verifying edit vs new #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="{{ code.code }}">
	<input type="hidden" name="action" value="update">

	<div class="row">
		<div class="col-sm-6">
			{% include 'code-tables/mar/ctm/edit/form/key.twig' %}
			{% include 'code-tables/mar/ctm/edit/form/mail-list.twig' %}
			{% include 'code-tables/mar/ctm/edit/form/approval-email.twig' %}
		</div>
		<div class="col-sm-6">
			{% if ctm.updateGlAccts() %}
				{% include 'code-tables/mar/ctm/edit/form/gl-accounts.twig' %}
			{% endif %}
		</div>
	</div>




	<hr>
	<div class="d-flex justify-content-between align-items-center">
		{% if ctm.recordlocker.isLocked(code.code) == false or ctm.recordlocker.userHasLocked(code.code) %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>

			{% if code.isNew() == false %}
				<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger delete_button">
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}

		<a href="{{ page.codeListUrl(code.code) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
