<form action="{{ input.paginateUrl(1) }}" method="POST" id="spm-form" data-new="{{ rep.isNew() ? 'true' : 'false'}}">
	<input type="hidden" name="action" value="update">

	<div class="mb-3">
		{% include 'code-tables/mar/spm/rep/form/fields.twig' %}
	</div>
	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if spm.recordlocker.userHasLocked(rep.id) or rep.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>

			{% if item.isNew() == false %}
				<a href="{{ page.repDeleteUrl(rep.id) }}" class="btn btn-danger delete_button">
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}

		<a href="{{ page.repListUrl(rep.id) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
