{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}

{% block current_page %}
	{% if values.offsetExists('userID') == false %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> VIO
		</li>
	{% endif %}

	{% if values.offsetExists('userID') %}
		<li class="breadcrumb-item">
			<a href="{{ input.url() }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> VIO
			</a>
			<li class="breadcrumb-item active" aria-current="page">
				{{ values.text('userID') }}
			</li>
		</li>
	{% endif %}

{% endblock %}
