{% set response = aoptm.getResponse() %}

<div class="mb-3">
	{% include 'code-tables/map/aoptm/bread-crumbs.twig' %}
</div>

{% if response %}
	<div class="mb-3">
		{% include 'code-tables/response.twig' %}
	</div>
{% endif %}

{% include 'code-tables/map/aoptm/list/list.twig' %}

{% include 'util/paginator/propel.twig' with {'pager': codes} %}
