<legend class="text-center">Standard Packaging</legend>

<div class="row mb-3">
	<div class="col-sm-6">
		<label for="innerpack">Items Per Inner Pack</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'innerpack', 'value': dimensions.itm.qty_pack_inner,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="outerpack">Items Per Outer Pack</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'outerpack', 'value': dimensions.itm.qty_pack_outer,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="qtytare">Items Per Ship Tare</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'qtytare', 'value': dimensions.itm.qty_tare,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
<hr>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="qtypercase">Qty per Case</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'qtypercase', 'value': dimensions.itm.qtypercase,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="liters">Liters</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'liters', 'value': dimensions.itm.liters,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="weight">Weight</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'append',
					'size': 'sm',
					'input': {
						'name': 'weight',
						'value': dimensions.itm.weight,
						'addclasses': ['text-right']
					},
					'span': {
						'text': dimensions.itm.unitofmsale.description
					}
				}
			}
		%}
		<small class="form-text text-muted text-right">{{ dimensions.itm.weight * 453.6}}g</small>
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-6">
		<label for="cubes">Cubes</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'type': 'number',
					'name': 'cubes', 'value': dimensions.itm.cubes,
					'size': 'sm',
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
</div>
