<div class="form-group">
	<a href="{{ page.get_finishorderURL() }}" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Finish Picking
	</a>
	&nbsp;
	<a href="{{ page.get_exitorderURL() }}" class="btn btn-danger exit-order">Exit Order</a>
</div>
