{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	qnotes                 module QnotesPredefined
#}
<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-700" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="notes-modal-label"><span class="desc-action">Editing</span> Pre-Defined Note <span class="id"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ page.url }}" method="post" id="notes-form">
					<div class="form-group">
						<label for="id">Code</label>
						<input type="text" class="form-control w-auto" name="id" id="id" maxlength="{{ qnotes.get_max_length_code() }}" data-id="">
					</div>
					<div class="form-group">
						<label for="note">Note</label>
						<div class="form-group d-flex justify-content-between align-items-center">
							<textarea name="note" id="note" class="form-control w-auto qnotes" rows="10" cols="{{ qnotes.get_column_count() - 1 }}"></textarea>
						</div>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<button type="submit" name="action" value="update-notes" class="btn btn-success">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						<button type="submit" name="action" value="delete-notes" class="btn btn-danger">
							<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
						</button>
						<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
