{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	{% if segments|length == 0 and values.offsetExists('lotnbr') == false %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> LOTI
		</li>
	{% endif %}

	{% if segments|length > 0 and values.offsetExists('lotnbr') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> LOTI
			</a>
			<li class="breadcrumb-item active" aria-current="page">
				{{ values.text('lotnbr') }}
			</li>
		</li>
	{% endif %}

{% endblock %}
