<form action="{{ page.url }}" method="get" class="allow-enterkey-submit">
	<input type="hidden" name="custID" value="{{ custID }}">
	<div class="input-group">
		<input class="form-control form-group inline" type="text" name="q" value="{{ q }}" id="itemID" placeholder="Item ID" autofocus>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-light"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
		</span>
	</div>
</form>
