{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	itm                    module Itm
	addm                   Dplus\Min\Inmain\Addm\Addm
	item                   ItemMasterItem
	xref                   ItemAddonItem
#}
{% extends 'items/itm/display.twig' %}

{% block body %}
	<div class="card-body">
		{% include 'items/itm/xrefs/addm/xref/form.twig' %}
	</div>
{% endblock %}

{% block footer %}

{% endblock %}
