{% set group = twiginputgroup(inputgroup) %}
<div class="{{ group.class() }}">
	{% if group.type == 'prepend' %}
		<span class="input-group-prepend">
			{% if inputgroup.button %}
				{% include 'util/bootstrap/html/button.twig' with {'button': group.button} %}
			{% endif %}

			{% if inputgroup.span %}
				{% include 'util/bootstrap/form/input-group-span.twig' with {'span': group.span } %}
			{% endif %}
		</span>
	{% endif %}

	{% include 'util/bootstrap/form/input.twig' with {'input': group.input} %}

	{% if group.type == 'append' %}
		<span class="input-group-append">
			{% if inputgroup.button %}
				{% include 'util/bootstrap/html/button.twig' with {'button': group.button} %}
			{% endif %}
			{% if inputgroup.span %}
				{% include 'util/bootstrap/form/input-group-span.twig' with {'span': group.span } %}
			{% endif %}
		</span>
	{% endif %}
</div>
