{% include 'mar/arproc/ecr/customer/payment/form/readonly.twig' %}

<div class="row">
	<div class="col-sm-4 mb-3">
		<label for="checknbr">Check Number</label>
	</div>
	<div class="col-sm-3 mb-3">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'checknbr',
					'size': 'sm',
					'value': payment.checknbr,
					'attributes': {
						'placeholder': '',
						'aria-label':  'Check Number'
					}
				}
			}
		%}
	</div>
</div>
<div class="row">
	<div class="col-sm-4 mb-3">
		<label for="paymentdate">Payment Date</label>
	</div>
	<div class="col-sm-3 mb-3">
		{% include 'util/date-picker.twig' with {'name': 'paymentdate', 'id': 'paymentdate', 'value': ''} %}
	</div>
</div>
<div class="row">
	<div class="col-sm-4 mb-3">
		<label for="cashacct">Cash Account</label>
	</div>
	<div class="col-sm-2 mb-3">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'cashacct',
						'value': payment.cashacct,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Cash Account Numbers'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search General Ledger Accounts',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('mgl/mhm'),
							'data-input': '#cashacct',
							'data-update': '.cashacct.description'
						}
					}
				}
			}
		%}
	</div>
	<div class="col-sm-5 mb-3">
		<p class="form-control-plaintext form-control-sm text-muted cashacct description">
			{{ ecr.payments.getGlCodeDescription(payment.cashacct) }}
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 mb-3">
		<label for="creditacct">Credit Account</label>
	</div>
	<div class="col-sm-2 mb-3">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'creditacct',
						'value': payment.creditacct,
						'attributes': {
							'placeholder': '',
							'aria-label':  'Credit Account Numbers'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search General Ledger Accounts',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('mgl/mhm'),
							'data-input': '#creditacct',
							'data-update': '.creditacct.description'
						}
					}
				}
			}
		%}
	</div>
	<div class="col-sm-5 mb-3">
		<p class="form-control-plaintext form-control-sm text-muted creditacct description">
			{{ ecr.payments.getGlCodeDescription(payment.creditacct) }}
		</p>
	</div>
</div>
