{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	{% if values.offsetExists('upc') == false and values.offsetExists('itemID') == false  %}
		<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
	{% endif %}

	{% if values.offsetExists('upc') %}
		<li class="breadcrumb-item">
			<a href="{{ page.upcListUrl(upcx.getRecordlockerKey(upc)) }}">UPCX</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ values.text('upc') }} - {{ values.text('itemID') }}</li>
	{% endif %}
{% endblock %}
