{#
	var                    Description / Instance of
	-------------------------------------------------
	input                  ProcessWire\WireInput
	manager                Dplus\Codes\Base
#}

{# data-code is for verifying edit vs new #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="mb-4">
		{% include 'code-tables/mar/mtm/form/key.twig' %}

		<div class="form-row">
			<div class="col-sm-4 form-group">
				{% include 'code-tables/mar/mtm/form/percent.twig' %}
			</div>
			<div class="col-sm-4">
				{% include 'code-tables/mar/mtm/form/tax-type.twig' %}
			</div>
			<div class="col-sm-4 form-group">
				{% include 'code-tables/mar/mtm/form/limit.twig' %}
			</div>
		</div>

		<div class="form-row">
			<div class="col-sm-6 form-group">
				{% include 'code-tables/mar/mtm/form/gl-account.twig' %}
			</div>
			<div class="col-sm-6 form-group">
				{% include 'code-tables/mar/mtm/form/freight-tax-code.twig' %}
			</div>
		</div>

		{% for i in 1..4 %}
			<div class="mb-2">
				<label for="note{{ i }}">Note {{ i }}</label>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'size': 'sm',
							'name': 'note' ~ i,
							'attributes': {
								'maxlength': manager.fieldAttribute('note' ~ i, 'maxlength')
							}
						},
					}
				%}
			</div>
		{% endfor %}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<div>
			<a href="{{ page.codeDeleteUrl('') }}" class="btn btn-danger delete_button collapse">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
