{% extends 'user-options/user/form.twig' %}

{% set IWHM = page.wire('modules').get('CodeTables').getCodeTable('min', 'iwhm') %}

{% block extra_heading_column %}
	<div class="col-sm-7 text-right text-bold">
		<p class="mb-0 p-1 fs-1-2">Warehouse of '**' = all</p>
	</div>
{% endblock %}

{% block header_columns %}
	<div class="col-sm-2">
		Screen Option
	</div>
	<div class="col-sm-1">
		Available
	</div>
	<div class="col-sm-1">
		Warehouse
	</div>
	<div class="col-sm-2">
		Lot/Serial Detail
	</div>
{% endblock %}

{% block inputs %}
	{% include 'user-options/user/form/screens.twig' %}

	<div class="form-row mb-2">
		<div class="col-sm-2">
			<label for="itemdescription">Item Get-Desc 1 or 2</label>
		</div>
		<div class="col-sm-1">
			{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'itemdescription',
					'value' : u.itemdescription,
					'size': 'sm',
					'haskeys': true,
					'options': manager.fieldAttribute('itemdescription', 'options')
				}
			} %}
		</div>
	</div>
	<div class="form-row mb-2">
		<div class="col-sm-2">
			<label for="deleteloticerts">Delete LOTI Certs </label>
		</div>
		<div class="col-sm-1">
			{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'deleteloticerts',
					'value' : u.deleteloticerts,
					'size': 'sm',
					'haskeys': true,
					'options': manager.fieldAttribute('deleteloticerts', 'options')
				}
			} %}
		</div>
	</div>
{% endblock %}