<form action="{{ input.url() }}" method="POST" id="iarn-form" data-new="{{ reason.isNew() ? 'true' : 'false' }}">
	<input type="hidden" name="action" value="update-iarn">

	<div class="mb-3">
		{% include 'min/inproc/iarn/code/form/inputs.twig' %}
	</div>


	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if iarn.recordlocker.userHasLocked(reason.id) or reason.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>

			{% if reason.isNew() == false %}
				{% if reason.isSysDefined() %}
					<button type="button" class="btn btn-danger" disabled>
						<i class="fa fa-trash" aria-hidden="true"></i> Delete
					</button>
				{% else %}
					<a href="{{ page.codeDeleteUrl(reason.id) }}" class="btn btn-danger delete_button">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete
					</a>
				{% endif %}
			{% endif %}
		{% endif %}
		<a href="{{ page.codeListUrl(reason.id) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
