<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ajax-notes-modal" data-input="{{ input }}">
	<i class="fa fa-list-alt" aria-hidden="true"></i> Pre-Defined Notes
</button>
