{% extends 'items/itm/xrefs/xrefs-display.twig' %}

{% block body %}
	<div class="card-body">
		{% include 'items/vxm/item/form/form.twig' with {'item': xref} %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
