{% extends 'items/itm/xrefs/xrefs-display.twig' %}

{% block body %}
	{% if 100 == 1 %}
		<div class="p-2">
			{% include 'items/upcx/search.twig' with {'q' : page.input.get.text('q')} %}
		</div>
	{% endif %}

	{% include 'items/itm/xrefs/upcx/list/list.twig' %}
	{% include 'util/paginator/propel.twig' with {'pager': upcs} %}
{% endblock %}
