{% extends 'items/upcx/list/list.twig' %}

{% block header %}

{% endblock %}

{% block add_upc_link %}
	<a href="{{ page.upcCreateUrl() }}" class="btn btn-secondary btn-sm">
		<i class="fa fa-plus" aria-hidden="true"></i> Add UPC
	</a>
{% endblock %}
