<div class="card" style="width: 18rem;">
	<div class="card-header bg-info text-white">
		Print Actions
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<a href="{{ page.get_downloadpdfURL() }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
		</li>
	</ul>
</div>
