{#
	Only show Edit Actions if the Item is
	1. Locked for editing by the User
	2. Is a new Item
	NOTE: Only show delete if xref already exists.
#}
{% if mxrfe.recordlocker.userHasLocked(mxrfe.get_recordlocker_key(xref)) or xref.isNew() %}
	<button type="submit" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
	</button>

	{% if xref.isNew() == false %}
		<a href="{{ page.xrefDeleteUrl(xref.vendorid, xref.vendoritemid, xref.itemid) }}" class="btn btn-danger delete_button">
			<i class="fa fa-trash" aria-hidden="true"></i> Delete
		</a>
	{% endif %}
{% endif %}
