<div class="card mb-4">
	<div class="card-header d-flex justify-content-between bg-primary">
		<a class="text-white" data-toggle="collapse" href="#sales-history-list" role="button" aria-expanded="false" aria-controls="sales-history-list">
			Sales History <i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
		<span class="badge badge-pill badge-light">{{ count }}</span>
	</div>
	<div class="collapse" id="sales-history-list">
		{% include 'sales-orders/sales-history/sales-history-list.twig' with {'orders': invoices, 'orderpage': url_invoice} %}

		<div class="card-footer bg-secondary">
			<a href="{{ url_invoice_list }}" class="text-white">View More Sales History <i class="fa fa-sign-in" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
