<div class="row mb-4">
	<div class="col-sm-8">
		{% include 'msa/logm/user/form.twig' %}
	</div>
</div>
<hr>
<div class="mb-3 col-sm-8 px-0">
	{% include 'msa/logm/user/subfunction-links.twig' %}
</div>

{% include 'msa/logm/user/contact/modal.twig' %}
{% include 'msa/logm/user/password/modal/pswd.twig' %}
{% include 'msa/logm/user/password/modal/pswd-web.twig' %}
