<div class="mb-3">
	{% include 'msa/logm/user/subfunction-links.twig' %}
</div>
<div class="row">
	<div class="col-sm-8">
		{% include 'msa/logm/user/form.twig' %}
	</div>
</div>

{% include 'msa/logm/user/password/modal/pswd.twig' %}
{% include 'msa/logm/user/password/modal/pswd-web.twig' %}
