<form action="{{ input.paginateUrl(1) }}" method="POST" id="logm-form">
	<input type="hidden" name="action" value="update">

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="id">Login ID</label>
		</div>
		<div class="col-sm-2">
			{% include 'msa/logm/user/form/inputs/id.twig' %}
		</div>
	</div>

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="name">Login Name</label>
		</div>
		<div class="col-sm-3">
			{% include 'msa/logm/user/form/inputs/name.twig' %}
		</div>
	</div>

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="whseid">Warehouse ID</label>
		</div>
		<div class="col-sm-6 input-parent">
			<div class="row">
				<div class="col-sm-4">
					{% include 'msa/logm/user/form/inputs/whseid.twig' %}
				</div>
				<div class="col-sm-6">
					<p class="form-control-plaintext form-control-sm text-muted ajax-description">
						{{ duser.getWhse().name }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="companyid">Company ID</label>
		</div>
		<div class="col-sm-4 input-parent">
			<div class="col-sm-3 px-0">
				{% include 'msa/logm/user/form/inputs/companyid.twig' %}
			</div>
		</div>
	</div>

	{% include 'msa/logm/user/form/user-roles.twig' %}

	<legend>Default Printers</legend>
	{% include 'msa/logm/user/form/printers.twig' %}

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="userwhsefirst">II screens, My Whse First?</label>
		</div>
		<div class="col-sm-2">
			{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'userwhsefirst',
					'addclasses': ['form-control-sm'],
					'value' : duser.displayUserWhseFirst() ? 'Y' : 'N',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			} %}
		</div>
	</div>

	<div class="mb-2 form-row">
		<div class="col-sm-3">
			<label for="activteitemsonly">Item ID Get, Active Items Only</label>
		</div>
		<div class="col-sm-2">
			{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'activteitemsonly',
					'addclasses': ['form-control-sm'],
					'value' : duser.displayActiveItemsOnly() ? 'Y' : 'N',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			} %}
		</div>
	</div>

	<legend>Privileges</legend>
	{% include 'msa/logm/user/form/privileges.twig' %}

	<legend>Groups, Roles</legend>
	{% include 'msa/logm/user/form/login-roles.twig' %}

	<hr>

	<div class="mt-3 d-flex justify-content-between align-items-center">
		{% if logm.recordlocker.userHasLocked(duser.id) or duser.isNew() %}
			<button type="submit" name="action" value="update" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if duser.isNew() == false %}
				<a href="{{ page.userDeleteUrl(duser.id) }}" class="btn btn-danger delete_button crud-submit">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}

		<a href="{{ page.logmUrl(duser.id) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
