<form action="{{ input.paginateUrl(1) }}" method="POST" id="user-form">
	<div class="form-group row">
		<div class="col-sm-3">
			<label for="id">Login ID</label>
		</div>
		<div class="col-sm-9">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': 'id',
						'value': duser.id,
						'size': 'sm',
						'attributes': {
							'placeholder': '',
							'aria-label':  'Login ID',
							'readonly': duser.isNew() == false,
							'oninput': 'this.value = this.value.toLowerCase()'
						}
					}
				}
			%}
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="name">Login Name</label>
		</div>
		<div class="col-sm-9">
			<input type="text" name="name" id="name" class="form-control form-control-sm" value="{{ duser.name }}">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="whseid">Warehouse ID</label>
		</div>
		<div class="col-sm-9">
			{% include 'util/bootstrap/form/input-group.twig' with {
					'inputgroup': {
						'type': 'prepend',
						'size': 'sm',
						'input': {
							'name': 'whseid',
							'value': duser.whseid,
							'attributes': {
								'placeholder': '',
								'aria-label':  'Warehouse ID'
							}
						},
						'button': {
							'colorclass': 'btn-secondary',
							'text': 'fa fa-search'|icon,
							'attributes': {
								'title': 'Search Warehouses',
								'data-toggle': 'modal',
								'data-target': '#ajax-modal',
								'data-lookupurl': page.searchLookupUrl('warehouses'),
								'data-input': '#whseid'
							}
						}
					}
				}
			%}
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="companyid">Company ID</label>
		</div>
		<div class="col-sm-9">
			<input type="text" name="companyid" id="companyid" class="form-control form-control-sm" value="{{ duser.companyid }}">
		</div>
	</div>

	{% include 'msa/logm/user/form/user-roles.twig' %}

	{% include 'msa/logm/user/form/printers.twig' %}

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" name="action" value="update" class="btn btn-success">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="submit" name="action" value="delete" class="btn btn-danger delete_button">
			<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
		</button>
		<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
			Close
		</button>
	</div>
</form>
