<ul class="nav nav-pills nav-justified">
	<li class="nav-item border">
		<a class="nav-link" data-toggle="modal" href="#contact-modal">
			Fax / Email Defaults
		</a>
	</li>
	<li class="nav-item border">
		<a class="nav-link" data-toggle="modal" href="#pswd-modal">
			Change Password
		</a>
	</li>
	<li class="nav-item border">
		<a class="nav-link" data-toggle="modal" href="#pswd-web-modal">
			Change Web Password
		</a>
	</li>
</ul>
