{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
#}

<form action="{{ page.url }}" class="pt-3 allow-enterkey-submit" id="add-item-form">
	<input type="hidden" name="action" value="add-item">

	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				{% include 'cart/test/lookup/form/input-item.twig' %}
			</div>
			<div class="mt-2">
				<ul class="list-unstyled">
					<li>
						<small class="desc1"></small>
					</li>
					<li>
						<small class="desc2"></small>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-1 text-right">
			<div class="form-group">
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'qty',
							'value': '',
							'addclasses': [
								'text-right',
								'qty-input'
							]
						}
					}
				%}
			</div>
		</div>
		<div class="col-sm-2 text-right">
			<div class="input-group">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-plus" aria-hidden="true"></i> Add
				</button>
			</div>
		</div>
		<div class="col-sm-5"></div>
	</div>
</form>
