<table class="table table-striped table-sm">
	<tr>
		<td><b>Item ID</b></td>
		<td>{{ item.itemid }}</td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td>{{ item.desc }}</td>
	</tr>
	{% if item.has_desc2() %}
		<tr>
			<td><b>Description 2</b></td>
			<td>{{ item.desc2 }}</td>
		</tr>
	{% endif %}
</table>
