{% if page.is_print() == false %}
	<div class="form-group">
		<a href="{{ page.url }}" class="btn btn-primary not-round">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
		</a>
		&nbsp;
		<a href="{{ page.get_printURL() }}" class="btn btn-primary not-round">
			<i class="fa fa-print" aria-hidden="true"></i> Print
		</a>
		&nbsp;
		{% if page.refreshurl %}
			<a href="{{ page.refreshurl }}" class="btn btn-primary not-round">
				<i class="fa fa-refresh" aria-hidden="true"></i> Refresh Data
			</a>
			&nbsp;
			Data Current as of {{ lastmodified|date('m/d/Y h:i A') }}
		{% endif %}
	</div>
{% endif %}
