<div class="row">
	<div class="col-sm-4">
		<table class="table table-striped table-sm">
			<tr>
				<td><b>Type</b></td>
				<td>{{ item.itemtype ~ ' - ' ~ item.get_itemtypedescription()|capitalize }}</td>
			</tr>
			<tr>
				<td><b>Item Group</b></td>
				<td>{{ item.itemgroup }}</td>
			</tr>
			<tr>
				<td><b>Group Desc</b></td>
				<td>{{ item.invgroup.description }}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-4">
		<h4>Item Warehouses</h4>
		<table class="table table-striped table-sm">
			{#
			{% for warehouse in item.warehouses %}
				<tr>
					<td>{{ warehouse.warehouseid }}</td>
					<td></td>
				</tr>
			{% endfor %}
			#}
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		{% include 'items/ii/item/pricing.twig' %}
	</div>
</div>
