<form action="{{ input.url() }}" method="get" id="cust-form">
	<div class="form-group">
		<label for="custID">Customer ID</label>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'input': {
						'name': 'custID',
						'id': 'custID',
						'value': '',
						'attributes': {
							'placeholder': '',
							'aria-label':  'Customer ID',
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Customers',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('customers'),
							'data-input': '#custID'
						}
					}
				}
			}
		%}
		<small class="form-text text-muted customer-name"></small>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
