<div class="form-group row">
	<div class="col-sm-4">
		<label for="allow_discount">Allow Discount</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/select.twig' with {'name': 'allow_discount', 'id': 'allow_discount', 'selectedvalue': item_pricing.item.allow_discount, 'options': {'Y': 'Yes', 'N': 'No'}} %}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label for="assortmentcode">Assortment Code</label>
	</div>
	<div class="col-sm-8">
		<select name="assortmentcode" class="form-control" id="assortmentcode">
			<option value="">-- None --</option>
			{% for assortment in assortmentcodes %}
				<option value="{{ assortment.code }}" {{ assortment.code == item_pricing.item.assortmentcode ? 'selected' : ''}}>{{ assortment.description }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label for="assortmentqty">Assortment Qty</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control text-right" name="assortmentqty" id="assortmentqty" value="{{ item_pricing.item.assortmentqty}}">
	</div>
</div>
