<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-2">
				<strong>Item ID:</strong>
			</div>
			<div class="col-sm-6">
				{{ item.itemid }} - {{ item.description }}
			</div>
		</div>
	</div>
	{% block body %}
		<div class="card-body">
			{% include 'items/itm/pricing/form.twig' %}
		</div>
	{% endblock %}
</div>
<hr>
