{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	item_pricing           ItemMasterItem
	pricingm               module ItmPricing
	pricingm.configs       WireData
	pricingm.configs.so    ConfigSalesOrder
#}
<form action="{{ page.wire('input').url() }}" method="POST">
	<input type="hidden" name="action" value="update-itm-pricing">
	<input type="hidden" name="itemID" value="{{ item_pricing.itemid }}">

	<div class="row mb-3">
		<div class="col-sm-6">
			{% include 'items/itm/pricing/sales.twig' %}
		</div>
		<div class="col-sm-6">
			{% include 'items/itm/pricing/purchasing.twig' %}
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-6">
			{% include 'items/itm/pricing/discount-assortment.twig' %}
		</div>
	</div>
	<div class="d-flex justify-content-between align-items-center">
		{% if itm.recordlocker.userHasLocked(item.itemid) %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
		{% endif %}
		<a href="{{ page.itmUrl(item.itemid) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
