<div class="card">
	{% block header %}
		<div class="card-header bg-light">
			AR Optional Codes for {{ sysop.id }}
		</div>
	{% endblock %}

	{% block body %}
	{% endblock %}

	{% block footer %}
		<div class="card-footer">
			<div class="d-flex justify-content-between align-items-center">

			</div>
		</div>
	{% endblock %}
</div>
