class LsmAlerts extends Alerts {
	static instance = null;

	static getInstance() {
		if (this.instance === null) {
			this.instance = new LsmAlerts();
		}
		return this.instance;
	}

	codeExists(code, callback) {
		var html = 'Edit Code <span class="font-monospace font-weight-bold text-underlined">' + code.replace(' ', '&nbsp;') + '</span>?';

		swal2.fire({
			title: 'Code Exists',
			html: html,
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Yes'
		}).then(function (result) {
			if (result.value) {
				callback(true);
				return true;
			}
			callback(false);
			return false;
		});
	}
}
