<div class="row">
	<div class="col-sm-8">
		<h4>{{ items.getNbResults() ~ ' CXM Items for ' ~ itemid }}</h4>
	</div>
	<div class="col-sm-4 text-right">
		<a href="{{ page.cxm_item_newURL(itemid) }}" class="btn btn-secondary">
			<i class="fa fa-plus" aria-hidden="true"></i> Add New
		</a>
	</div>
</div>
