{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	{% if items.count == 0 %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-home" aria-hidden="true"></i> Home
		</li>
	{% endif %}
{% endblock %}
