<div class="row">
	<div class="col-6 col-sm-9">
		<a href="{{ page.parent.url }}" class="btn btn-primary">
			{{ page.parent.title }}
		</a>
	</div>
	<div class="col-6 col-sm-3">
		{% include 'dplus-menu/menu-search-form.twig' with {'page': pages.get('/') } %}
	</div>
</div>

{% include 'dplus-menu/menu-list.twig' %}