<form action="{{ page.url }}" class="mb-3 allow-enterkey-submit">
	<div class="col-sm-12 px-0">
		<div class="input-group">
			<input type="text" class="form-control" name="q" placeholder="Menu / Function code" autofocus>
			<div class="input-group-append">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-search" aria-hidden="true"></i> Find
				</button>
			</div>
		</div>
	</div>
</form>
