<div class="row">
	<div class="col-sm-9"></div>
	<div class="col-sm-3">
		{% include 'dplus-menu/menu-search-form.twig' %}
	</div>
</div>

{% if items.count > 0 %}
	{% include 'dplus-menu/menu-list.twig' %}
{% else %}
	{% include 'util/alert.twig' with {'type': 'warning','iconclass': 'fa fa-warning fa-2x', 'title': 'No Functions or Menus match your search', 'message': 'Please try again'} %}
{% endif %}
