<form action="" class="mb-3 allow-enterkey-submit">
	<label for="ordn"><strong>Enter Dplus Menu / Function code</strong></label> &nbsp; &nbsp;
	<div class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" name="q">
		</div>
		&nbsp; &nbsp;
		<button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Find</button>
	</div>
</form>
