<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="note-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="note-modal-label">Add Sales Order Note to </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="qnote-form">
					<input type="hidden" name="ordn" value="{{ ordn }}">
					<input type="hidden" name="linenbr" value="">
					<input type="hidden" name="form" value="">

					<div class="row mb-3">
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="check_pick" class="custom-control-input" id="check-pick-ticket" value="Y">
								<label class="custom-control-label" for="check-pick-ticket">Pick Ticket</label>
							</div>
						</div>
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="check_pack" class="custom-control-input" id="check-pack-ticket" value="Y">
								<label class="custom-control-label" for="check-pack-ticket">Pack Ticket</label>
							</div>
						</div>
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="check_invoice" class="custom-control-input" id="check-invoice" value="Y">
								<label class="custom-control-label" for="check-invoice">Invoice Ticket</label>
							</div>
						</div>
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="check_acknowledgement" class="custom-control-input" id="check-acknowledgement" value="Y">
								<label class="custom-control-label" for="check-acknowledgement">Acknowledgment</label>
							</div>
						</div>
					</div>
					<div class="feedback">

					</div>
					<div class="form-group">
						<label for="q-notes-text">Notes</label>
						<textarea name="note" class="form-control w-auto" id="q-notes-text" cols="{{ qnotes_so.get_column_count() }}"></textarea>
					</div>

					<div class="d-flex justify-content-between align-items-center">
						<button type="submit" name="action" value="update-notes" class="btn btn-success">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						<button type="submit" name="action" novalidate value="delete-notes" class="btn btn-danger">
							<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
