{#
	****************************************************
		Fields: description, description2
	****************************************************

	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	itm                    module Itm
	recordlocker           module RecordLockerUser
#}
<div class="form-group row">
	<div class="col-sm-3">
		<label for="description">Description 1</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm" name="description" id="description" value="{{ item.description }}">
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-3">
		<label for="description2">Description 2</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm" name="description2" id="description2" value="{{ item.description2 }}">
	</div>
</div>
