{#
	****************************************************
		Fields: description, description2
	****************************************************

	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	itm                    module Itm
	recordlocker           module RecordLockerUser
#}
<div class="form-group row">
	<div class="col-sm-3">
		<label for="description">Description 1</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'description',
					'value': configIn.useUppercaseItemDescription() ? item.description|upper : item.description,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'aria-label':  'Description 1',
						'oninput': configIn.useUppercaseItemDescription() ? 'this.value = this.value.toUpperCase()' : '',
						'maxlength': itm.fieldAttribute('description1', 'maxlength')
					}
				}
			}
		%}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-3">
		<label for="description2">Description 2</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'description2',
					'value': configIn.useUppercaseItemDescription() ? item.description2|upper : item.description2,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'aria-label':  'Description 2',
						'oninput': configIn.useUppercaseItemDescription() ? 'this.value = this.value.toUpperCase()' : '',
						'maxlength': itm.fieldAttribute('description2', 'maxlength')
					}
				}
			}
		%}
	</div>
</div>
