{#
	****************************************************
		Fields: itemtype, timefence, qtypercase, allow_backorder, taxable, require_freight
		includes: items/itm/form/storage.twig
	****************************************************

	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	itm                    module Itm
	recordlocker           module RecordLockerUser
#}
<div class="form-group row">
	<div class="col-sm-6">
		<label for="itemtype">Item Type</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/select.twig' with {'name': 'itemtype', 'id': 'itemtype', 'selectedvalue': item.itemtype, 'options': item.get_itemtypedescriptions(), 'capitalize_labels': true, 'hideblankoption': true } %}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="timefence">Time Fence</label>
	</div>
	<div class="col-sm-6">
		<input type="number" name="timefence" class="form-control form-control-sm text-right" value="{{ item.timefence }}" id="timefence">
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="qtypercase">Qty Per Case</label>
	</div>
	<div class="col-sm-6">
		<input type="number" name="qtypercase" class="form-control form-control-sm text-right" value="{{ item.qtypercase }}" id="qtypercase">
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="allow_backorder">Back Order</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'allow_backorder',
					'value' : item.allow_backorder() ? 'Y' : 'N',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="taxable">Taxable</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'taxable',
					'value' : item.taxable() ? 'Y' : 'N',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="require_freight">Require Freight</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'require_freight',
					'value' : item.require_freight() ? 'Y' : 'N',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>
</div>
{% include 'items/itm/form/storage.twig' %}
{% include 'items/itm/form/packaging.twig' %}
