<!-- Modal -->
<div class="modal fade" id="edit-account-modal" tabindex="-1" role="dialog" aria-labelledby="edit-account-modal-title" aria-hidden="true">
	<div class="modal-dialog {{ size ? 'modal-' ~ size : '' }}" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="edit-account-modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% include 'mar/armain/pty3/customer-accounts/form.twig' %}
			</div>
		</div>
	</div>
</div>
