{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cmm                    Dplus\Mar\Cmm
#}

{% set response = manager.getResponse() %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

<div class="mb-3">
	{% if page.is_print() == false %}
		<a href="{{ page.menuUrl() }}" class="btn btn-primary">
			<i class="fa fa-undo" aria-hidden="true"></i> Back to {{ page.menuTitle() }}
		</a>
	{% endif %}
</div>

<div class="mb-3">
	{% include 'mar/armain/cmm/list/form.twig' %}
</div>

{% include 'mar/armain/cmm/list/list.twig' %}
