<form action="{{ input.paginateUrl(1) }}" method="get" class="allow-enterkey-submit">
	<div class="input-group form-group">
		<input class="form-control form-group inline" type="text" name="q" value="{{ input.get.text('q') }}" placeholder="Search ID, Name, Address, City, State">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-light">
				<i class="fa fa-search"></i> <span class="sr-only">Search</span>
			</button>
		</span>
	</div>
</form>
