{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}

{% include 'customers/ci/.new/bread-crumbs.twig' with {'rid': customer.rid} %}

{% if customer.is_active() == false  %}
	<div class="mb-3">
		{% include 'util/alert.twig' with {'type': 'warning', 'title': 'Inactive Customer', 'iconclass': 'fa fa-warning fa-2x', 'message': "Customer " ~ customer.id ~ " is not active"} %}
	</div>
{% endif %}

{% if customer.has_credithold() %}
	<div class="mb-3">
		{% include 'util/alert.twig' with {'type': 'warning', 'title': 'Credit Hold', 'iconclass': 'fa fa-warning fa-2x', 'message': "Customer " ~ customer.id ~ " has a credit hold"} %}
	</div>
{% endif %}

<div class="row mb-3">
	<div class="col-sm-2 pl-0">
		{% include 'customers/ci/.new/customer/toolbar.twig' with {'rid': customer.rid} %}
	</div>
	<div class="col-sm-10">
		{% include 'customers/ci/.new/customer/header.twig' with {'customer': customer} %}
	</div>
</div>

<div class="mb-3">
	{% include 'customers/ci/.new/customer/contacts.twig' with {'customer': customer} %}
</div>

<div class="mb-3">
	{% include 'customers/ci/.new/customer/sales-orders.twig' with {'customer': customer} %}
</div>

<div class="mb-3">
	{% include 'customers/ci/.new/customer/sales-history.twig' with {'customer': customer} %}
</div>

{% if user.has_function('mqo') %}
	<div class="mb-3">
		{% include 'customers/ci/.new/customer/quotes.twig' with {'customer': customer} %}
	</div>
{% endif %}


