{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}
<div class="row mb-4">
	<div class="col-sm-6">
		<div class="mb-2">
			{% include 'customers/ci/.new/customer/header/basic-info.twig' %}
		</div>
		<div class="mb-2">
			{% include 'customers/ci/.new/customer/header/salespersons.twig' %}
		</div>
		{% include 'customers/ci/.new/customer/header/contact.twig' %}
		{% include 'customers/ci/.new/customer/header/ar-data.twig' %}
	</div>
	<div class="col-sm-6">
		{% if pages.get('pw_template=cart').isHidden() == false %}
			<div class="text-center form-group">
				<a href="{{ page.cartCustomerUrl(customer.id) }}" class="btn btn-dark">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Entry
				</a>
			</div>
		{% endif %}
		{% include 'customers/ci/.new/customer/header/ar-activity.twig' %}
	</div>
</div>
