{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
#}
{% set idCust = config.ci.useRid ? input.get.int('rid') : input.get.string('custID') %}

<nav class="toolbar-sidebar">
	<ul class="nav">
		{% for key, data in page.ciPermittedSubfunctions() %}
			<li>
				<a href="{{ page.ciSubfunctionUrl(idCust, key) }}">
					{{ data.title ? data.title : key|capitalize }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
