<div class="list-group-item py-2">
	<div class="row">
		<div class="col-sm-2">
			{{ cio.field_attribute(option, 'label') }}
		</div>
		<div class="col-sm-1">
			{% include 'util/form/select.twig' with {
					'name': option, 'selected_value': attribute(user, option),
					'options': {
						'Y': 'Yes',
						'N': 'No'
					},
				}
			%}
		</div>
		<div class="col-sm-6">
			{% if cio.field_attribute(option, 'date') is same as(true) %}
				<div class="row">
					<div class="col-sm-4">
						<div class="form-row">
							<div class="col-sm-3">
								Days
							</div>
							<div class="col-sm-9">
								{% set name = 'days' ~ option %}
								{% include 'util/form/input.twig' with {
										'name': name, 'value': attribute(user, name) != 0 ? attribute(user, name) : '',
										'type': 'number',
										'class_add': ['text-right'],
										'attributes': {
											'max': cio.field_attribute(name, 'max')
										}
									}
								%}
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-row">
							<div class="col-sm-3">
								Start Date
							</div>
							<div class="col-sm-9">
								{% set name = 'date' ~ option %}
								{% include 'util/date-picker.twig' with {
										'name': name, 'id': name,
										'value': attribute(user, name) > 0 ? attribute(user, name)|convertdate : ''
									}
								%}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
