{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
#}
<form action="{{ input.url() }}" class="p-3 allow-enterkey-submit" id="add-item-form">
	<input type="hidden" name="action" value="add-item">
	<input type="hidden" name="qnbr" value="{{ input.get.text('qnbr') }}">

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label>Item</label>
				{% include 'util/form/input-with-modal-lookup.twig' with {
						'name': 'itemID', 'id': 'additemID', 'value': '', 'placeholder': 'Item ID',
						'small': false,
						'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Item',
						'attributes_button': {
							'data-search': 'item',
							'data-input': '#additemID',
							'data-lookupurl': page.searchLookupUrl('items')
						}
					}
				%}
			</div>
			<div class="mt-2">
				<small class="desc1"></small>
				<br>
				<small class="desc2"></small>
			</div>
		</div>
		<div class="col-6 col-sm-1 mb-2 text-right">
			<div class="form-group">
				<label>Qty</label>
				{% include 'util/form/input.twig' with {
						'type': 'number',
						'name': 'qty', 'id': 'qty', 'value': '',
						'class_input': 'form-control',
						'class_add': [
							'text-right',
							'qty-input'
						],
					}
				%}
			</div>
		</div>
		<div class="col-6 col-sm-2 mb-2 text-right">
			<div class="form-group">
				<label>Price</label>
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'input': {
								'name': 'price',
								'id': 'addprice',
								'addclasses': [
									'text-right',
									'qty-input'
								],
							},
							'span': {
								'colorclass': 'bg-light',
								'text': '$'
							}
						}
					}
				%}
			</div>
		</div>
		<div class="col-sm-5 text-right">
			<label>&nbsp;</label><br>
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-plus" aria-hidden="true"></i> Add
			</button>
			&nbsp; &nbsp;
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pricingModal" disabled>
				<i class="fa fa-table" aria-hidden="true"></i> Pricing
			</button>
		</div>
	</div>
</form>
