<table class="table table-striped" id="bins-table">
	<thead>
		<tr class="bg-dark text-white">
			<th>From</th>
			<th>Through</th>
		</tr>
	</thead>
	{% for bin in results %}
		<tr>
			<td class="text-monospace">{{ bin.from|replace({' ': '&nbsp;'})|raw }}</td>
			<td class="text-monospace">{{ bin.through|replace({' ': '&nbsp;'})|raw }}</td>
		</tr>
	{% endfor %}
</table>
