{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	kim                    module Kim
	kit                    InvKit
#}
<div class="card">
	<div class="card-header">
		{% block header %} {% endblock %}
	</div>

	{% block list %} {% endblock %}

	{% block body %} {% endblock %}

	{% block footer %} {% endblock %}
</div>
