{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	lots                   Propel\Runtime\Util\PropelModelPager (InvLot)
	docm                   Dplus\DocManagement\Finders\Lt\Img
#}

<form action="{{ input.paginateUrl(1) }}" method="GET" class="allow-enterkey-submit">
	<div class="row">
		<div class="col-sm-3 mb-3">
			<label for="Item ID">Item ID</label>
			{% include 'util/bootstrap/form/input-group.twig' with {
					'inputgroup': {
						'type': 'prepend',
						'size': 'sm',
						'input': {
							'name': 'itemID',
							'value': input.get.text('itemID'),
							'attributes': {
								'placeholder': '',
								'aria-label':  'Item ID'
							}
						},
						'button': {
							'colorclass': 'btn-secondary',
							'text': 'fa fa-search'|icon,
							'attributes': {
								'title': 'Search Items',
								'data-toggle': 'modal',
								'data-target': '#ajax-modal',
								'data-lookupurl': page.searchLookupUrl('items'),
								'data-input': '#itemID'
							}
						}
					}
				}
			%}
		</div>
		<div class="col-sm-3 mb-3">
			<label for="q">Lot #</label>
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'size': 'sm',
						'name': 'q',
						'value': input.get.text('q'),
						'attributes': {
							'placeholder': 'Lot Number',
							'aria-label':  'Search By Lot Number'
						}
					}
				}
			%}
		</div>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>
