<div class="row">
	<div class="col-sm-3 mb-2">
		<label for="addsurcharge">Can Add Surchage</label>
	</div>
	<div class="col-sm-8 mb-2">
		<div class="col-sm-2 px-0">
			{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': 'addsurcharge',
						'size': 'sm',
						'value' : manager.fieldAttribute('addsurcharge', 'default'),
						'haskeys': true,
						'showvalue': true,
						'options': manager.fieldAttribute('addsurcharge', 'options')
					}
				}
			%}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 mb-2">
		&nbsp; &nbsp; &nbsp; <label for="surchargepercent">Surcharge Percent</label>
	</div>
	<div class="col-sm-9 mb-2">
		<div class="col-sm-2 px-0 input-parent">
			{% include 'util/bootstrap/form/input.twig' with {
					'input': {
						'name': 'surchargepercent',
						'size': 'sm',
						'type': 'number',
						'addclasses': ['text-right', 'text-monospace'],
						'attributes': {
							'max': manager.fieldAttribute('surchargepercent', 'max'),
							'default': manager.fieldAttribute('surchargepercent', 'default'),
							'readonly': true,
						}
					}
				}
			%}
		</div>
	</div>
</div>