{#
	var                    Description / Instance of
	-------------------------------------------------
	input                  ProcessWire\WireInput
	manager                Dplus\Codes\Base
#}

{# data-code is for verifying edit vs new #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	{% include 'code-tables/mar/crcd/form/key.twig' %}

	<div class="row mb-3">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="glaccountnbr">GL Account</label>
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': 'glaccountnbr',
								'attributes': {
									'placeholder': '',
									'aria-label':  'General Ledger Account',
									'data-jqv': 'true'
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search General Ledger Accounts',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('mgl/mhm/'),
									'data-input': '#glaccountnbr'
								}
							}
						}
					}
				%}
				<small class="text-muted gl-acct-name"></small>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="custid">Cust ID</label>
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': 'custid',
								'attributes': {
									'placeholder': '',
									'aria-label':  'Customer ID'
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search Customers',
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl('customers'),
									'data-input': '#custid'
								}
							}
						}
					}
				%}
				<small class="text-muted customer-name"></small>
			</div>
		</div>
	</div>

	<legend>Service Charge Information</legend>
	{% include 'code-tables/mar/crcd/form/service-charges.twig' %}


	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
