{% if json['data'] %}
	{% for id, warehouse in json['data'] %}
		<div class="mb-3">
			<h4>
				<a data-toggle="collapse" href="#{{ id|attrJS }}" class="link" role="button" aria-expanded="false" aria-controls="{{ id|attrJS }}">{{ warehouse['Whse Name'] }}</a>
			</h4>
			<div class="collapse show" id="{{ id|attrJS }}">
				{% include 'items/ii/activity/whse-table.twig' %}
			</div>
		</div>
	{% endfor %}
{% else %}
	<div class="mb-3">
		{% include 'util/alert.twig' with {'type': 'warning','iconclass': 'fa fa-warning fa-2x', 'title': 'Error!', 'message': 'No Activity Data found starting from ' ~ date} %}
	</div>
	<h3>Enter a new date</h3>
	{% include 'items/ii/activity/date-form.twig' %}
{% endif %}
