<div class="row">
	<div class="col-sm-6">
		<form action="{{ page.wire('input').url() }}" method="get">
			<input type="hidden" name="itemID" value="{{ itemID }}">

			<div class="form-group">
				<label for="date">Date</label>
				{% include 'util/date-picker.twig' with {'name': 'date', 'value': startdate } %}
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
