{% extends 'items/upcx/form.twig' %}

{% block return_links %}
	<div class="mb-3">
		<a href="{{ page.upc_listURL() }}" class="btn btn-primary">
			<i class="fa fa-undo" aria-hidden="true"></i> &nbsp;
			Back to {{ upc.itemid }} UPC List
		</a>
	</div>
{% endblock %}

{% block form_input_itemid %}
	<div class="form-group row">
		<div class="col-sm-6">
			<label for="itemID">Item ID</label>
		</div>
		<div class="col-sm-6">
			{% include 'util/form/input-with-modal-lookup.twig' with {
					'name': 'itemID', 'value': upc.itemid,
					'attributes': {
						'readonly': upc.itemid ? true : false
					},
					'modaltarget': '#ajax-modal',
					'modaldescription': 'Search for / Choose Item',
					'attributes_button': {
						'data-search': 'item'
					}
				}
			%}
		</div>
	</div>
{% endblock %}
