<div class="row mb-4">
	<div class="col-sm-6">
		<div class="mb-4">
			{% include 'customers/ci/shiptos/info.twig' %}
		</div>
		{% include 'customers/ci/shiptos/ar-data.twig' %}
	</div>
	<div class="col-sm-6">
		{% include 'customers/ci/shiptos/activity.twig' %}
	</div>
</div>
