{% if not page.print %}
	<div class="form-group">
		<a href="{{ page.url }}" class="btn btn-primary not-round">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Search
		</a>
		&nbsp;
		<a href="{{ page.child.url ~ '?' ~ page.fullURL.query }}" class="btn btn-primary not-round">
			<i class="fa fa-print" aria-hidden="true"></i> Print
		</a>
	</div>
{% endif %}
<div class="row">
	<div class="col-sm-8">
		{% include 'warehouse/inventory/bin-inquiry/results-list.twig' %}
	</div>
</div>
