<div class="form-group row">
	<div class="col-sm-4">
		<label for="standardcost">Standard Cost</label>
	</div>
	<div class="col-sm-8">
		<div class="row mb-2">
			<div class="col-sm-8">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'append',
							'size': 'sm',
							'input': {
								'type': 'number',
								'name': 'standardcost',
								'value': (item.standardcost * item.unitofmpurchase.conversion)|number_format(m_costing.getConfigPo().decimal_places_cost),
								'addclasses': ['text-right']
							},
							'span': {
								'text': item.unitofmpurchase.code|spacepad(m_costing.getUomCodeLength())|raw,
								'addclasses': ['text-monospace', 'uom-purchase-display']
							}
						}
					}
				%}
			</div>
			<div class="col-sm-4">
				<p class="form-control-plaintext form-control-sm">{{ item.date_laststandardcost ? item.date_laststandardcost|convertdate : '' }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'append',
							'size': 'sm',
							'addclasses': [
								'collapse',
								item.unitofmpurchase.code != 'EACH' ? 'show' : ''
							],
							'attributes': {
								'id': 'standardcost-each',
							},
							'p': {
								'value': item.standardcost|number_format(m_costing.configs.po.decimal_places_cost),
								'addclasses': ['text-right', 'border-0']
							},
							'span': {
								'text': 'EACH',
								'addclasses': ['text-monospace']
							}
						}
					}
				%}
			</div>
		</div>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label for="standardcostbasedon">Based On</label>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-8">
				{% include 'util/form/select.twig' with {
						'name':          'standardcostbasedon',
						'id':            'standardcostbasedon',
						'selected_value': item.standardcostbasedon,
						'options':       m_costing.get_standardcost_basedon_options(),
						'show_value': true,
					}
				%}
			</div>
		</div>

	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label for="lastcost">Last Cost</label>
	</div>
	<div class="col-sm-8">
		<div class="row mb-2">
			<div class="col-sm-8">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'append',
							'size': 'sm',
							'p': {
								'name': 'lastcost',
								'value': item.lastcost|number_format(m_costing.configs.po.decimal_places_cost),
								'addclasses': ['text-right', 'border-0']
							},
							'span': {
								'text': item.unitofmpurchase.code|spacepad(m_costing.getUomCodeLength())|raw,
								'addclasses': ['text-monospace', 'uom-purchase-display']
							}
						}
					}
				%}
			</div>
			<div class="col-sm-4">
				<p class="form-control-plaintext">{{ item.date_lastcost ? item.date_lastcost|convertdate : '' }}</p>
			</div>
		</div>
		{% if item.unitofmpurchase.code != 'EACH' %}
			<div class="row">
				<div class="col-sm-8">
					{% include 'util/bootstrap/form/input-group.twig' with {
							'inputgroup': {
								'type': 'append',
								'size': 'sm',
								'input': {
									'name': 'lastcosteach',
									'value': (item.lastcost / item.unitofmpurchase.conversion)|number_format(m_costing.configs.po.decimal_places_cost),
									'addclasses': ['text-right', 'border-0']
								},
								'span': {
									'text': 'EACH',
									'addclasses': ['text-monospace']
								}
							}
						}
					%}
				</div>
			</div>
		{% endif %}
	</div>
</div>
