{% set idCust = config.ci.useRid ? input.get.int('rid') : input.get.string('custID') %}

<form action="{{ input.url() }}" method="GET">
	<input type="hidden" name="{{ config.ci.useRid ? 'rid' : 'custID' }}" value="{{ idCust }}">

	<div class="form-group">
		<label for="date">Start Date</label>
		{% include 'util/bootstrap/form/date-picker.twig' with {
				'inputgroup': {
					'input': {
						'name': 'date',
						'size': 'sm',
						'value': page.cioStartDate,
						'addclasses': [
							'text-right',
						]
					}
				}
			}
		%}
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>