<div class="row">
	<div class="col-sm-8">
		<h4>{{ heading }}</h4>
	</div>
	<div class="col-sm-4 text-right">
		{% if page.has('vendorID') and page.vendorID %}
			<a href="{{ page.vxm_itemURL(page.vendorID, 'new') }}" class="btn btn-secondary">
				<i class="fa fa-plus" aria-hidden="true"></i> Add New
			</a>
		{% else %}
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ajax-modal" title="Choose Vendor to Add VXM" aria-label="Choose Vendor to Add VXM" data-vendorid="{{ page.has('vendorID') ? page.vendorID : '' }}" data-search="vendor">
				<i class="fa fa-plus" aria-hidden="true"></i> Add New
			</button>
		{% endif %}
	</div>
</div>
