<form action="{{ page.formurl }}" class="allow-enterkey-submit" id="add-item-form">
	<div class="row">
		<input type="hidden" name="action" value="add-item">
		<input type="hidden" name="qnbr" value="{{ quote.quotenumber }}">
		<div class="col-sm-4">
			<input type="text" class="form-control" name="itemID" placeholder="Item ID" autofocus>
			<div class="mt-2">
				<small class="desc1"></small> <br>
				<small class="desc2"></small>
			</div>
		</div>
		<div class="col-sm-1 text-right">
			<input type="text" class="form-control text-right qty-input" name="qty">
		</div>
		<div class="col-sm-2 text-right">
			<div class="input-group">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-plus" aria-hidden="true"></i> Add
				</button>
			</div>
		</div>
		<div class="col-sm-5"></div>
	</div>
</form>
