<div class="form-group">
	<label for="contact">Contact</label>
	<input type="text" class="form-control" name="contact" id="contact" value="{{ quote.contact }}">
</div>
<div class="form-row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" class="form-control phone-input" name="phone" id="phone" value="{{ quote.phone }}">
		</div>
	</div>
</div>
<div class="form-group">
	<label for="fax">Fax</label>
	<input type="text" class="form-control phone-input" name="fax" id="fax" value="{{ quote.fax }}">
</div>
<div class="form-group">
	<label for="email">Email</label>
	<input type="text" class="form-control" name="email" id="email" value="{{ quote.email }}">
</div>
