<div class="card mb-4">
	<div class="card-header d-flex justify-content-between bg-primary">
		<a class="text-white" data-toggle="collapse" href="#quote-header" role="button" aria-expanded="false" aria-controls="quote-header">
			Quote Header <i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
	</div>
	<div class="collapse" id="quote-header">
		<div class="card-body">
			{% include 'quotes/quote/quote-header.twig' %}
		</div>
	</div>
</div>
