{% embed "warehouse/packing/packing-form.twig" %}
	{% block item_inputs %}
		<input type="hidden" name="qty" value="1">
		<label for="">Serial #</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#item-availability-modal">Available</button>
			</div>
			<input type="text" class="form-control" name="barcode" placeholder="Serial #" aria-label="Serial Number">
			<div class="input-group-append">
				<button class="btn btn-success" type="submit">Add</button>
			</div>
		</div>
	{% endblock item_inputs %}
{% endembed %}
