<h3>Enter Order Number</h3>

<form action="{{ page.formurl }}" method="post" class="allow-enterkey-submit">
	<input type="hidden" name="action" value="start-packing">
	<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">

	<div class="input-group form-group">
		<input class="form-control" name="ordn" placeholder="Order #" type="text" autofocus>
		<span class="input-group-append">
			<button type="submit" class="btn btn-success"> Grab Order </button>
		</span>
	</div>
</form>
