{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	docm                   Dplus\DocManagement\Finders\Lt\Img
	lotserial              Invsearch
#}

<table class="table table-sm table-striped">
	<tr>
		<td>Item ID</td>
		<td>{{ lot.itemid }}</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>{{ lot.item.description }}</td>
	</tr>
	<tr>
		<td>Lot / Serial #</td>
		<td>{{ lot.lotnbr }}</td>
	</tr>
	<tr>
		<td>Lot Ref</td>
		<td>{{ lot.lotref }}</td>
	</tr>
</table>
