{% include 'warehouse/inventory/mlot/img/lotserial/details.twig' %}


<div class="mb-3">
	{% include 'warehouse/inventory/mlot/img/lotserial/preview.twig' %}
</div>

{% include 'warehouse/inventory/mlot/img/lotserial/form.twig' %}
