<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				Preview
			</div>
			<img id="img-preview" class="card-img-top">
			<div class="card-footer">
				{{ lotserial.lotserial }}
			</div>
		</div>
	</div>
</div>
