{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	docm                   Dplus\DocManagement\Finders\Lt\Img
	lotserial              Invsearch
#}
<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				Preview
			</div>
			<img id="img-preview" class="card-img-top">
			<div class="card-footer">
				{{ lot.lotnbr }}
			</div>
		</div>
	</div>
</div>
