<form action="{{ input.url() }}" method="POST" id="i2i-form" data-new="{{ xref.isNew() ? 'true' : 'false' }}">
	<input type="hidden" name="action" value="update-i2i">

	<div class="mb-4">
		{% include 'min/i2i/xref/form/key.twig' %}
		{% include 'min/i2i/xref/form/whseid.twig' %}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if i2i.recordlocker.userHasLocked(i2i.getRecordlockerKey(xref)) or xref.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>

			{% if xref.isNew() == false %}
				<a href="{{ page.xrefDeleteUrl(item.parentitemid, xref.childitemid) }}" class="btn btn-danger delete_button">
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.xrefListUrl(i2i.getRecordlockerKey(xref)) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
