<h5 class="font-weight-bold text-secondary">Cost</h5>

<div class="row mb-2">
	<div class="col-sm-4">
		<label for="cost">Cost</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm text-right" name="cost" id="cost">
	</div>
</div>
<div class="row mb-2">
	<div class="col-sm-4">
		<label for="cost_total">Total Amount</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm text-right" name="cost_total" id="cost_total">
	</div>
</div>
