<h5 class="font-weight-bold text-secondary">Qtys</h5>

<div class="row mb-2">
	<div class="col-sm-4">
		<label for="qty_ordered">Ordered</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm text-right" name="qty_ordered" id="qty_ordered">
	</div>
</div>
<div class="row mb-2">
	<div class="col-sm-4">
		<label for="qty_received">Received</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control-plaintext form-control-sm pr-2 text-right" id="qty_received" readonly>
	</div>
</div>
<div class="row mb-2">
	<div class="col-sm-4">
		<label for="qty_invoiced">Invoiced</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control-plaintext form-control-sm pr-2 text-right" id="qty_invoiced" readonly>
	</div>
</div>
<div class="row mb-2">
	<div class="col-sm-4">
		<label for="qtyduein">Due In</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm text-right" id="qtyduein" name="qtyduein">
	</div>
</div>
