{% embed "warehouse/picking/unguided/barcode-form.twig" %}
	{% block item_inputs %}
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="binID">Bin ID</label>
					<input type="text" class="form-control" name="binID" placeholder="Bin ID" id="binID" value="">
					<small class="form-text text-muted">(optional if lot is in only one bin)</small>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="barcode">Lot Number</label>
				<input type="text" class="form-control" name="barcode" id="barcode" placeholder="Lot Number">
			</div>

			<div class="col-sm-3">
				<label for="barcode">Qty</label>
				<div class="input-group form-group">
					<input type="number" class="form-control" name="qty" placeholder="Qty" value="1">
					<span class="input-group-append">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-plus" aria-hidden="true"></i> Add
						</button>
					</span>
				</div>
			</div>
		</div>
	{% endblock item_inputs %}
{% endembed %}
