{% embed "warehouse/picking/unguided/barcode-form.twig" %}
	{% block item_inputs %}
		<input type="hidden" name="qty" value="1">
		<div class="row">
			{% if pickingsession.allow_negativeintentory() %}
				<div class="col-sm-3">
					<input type="text" class="form-control" name="binID" placeholder="Bin ID"  value="{{ pickingsession.guess_pickingbin(pickitem) }}">
				</div>
			{% else %}
				<input type="hidden" name="binID" value="">
			{% endif %}

			<div class="{{ pickingsession.allow_negativeintentory() ? 'col-sm-9' : 'col' }}">
				<div class="input-group form-group">
					<input type="text" class="form-control" name="barcode" placeholder="Serial Number">
					<span class="input-group-append">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-plus" aria-hidden="true"></i> Add
						</button>
					</span>
				</div>
			</div>
		</div>
	{% endblock item_inputs %}
{% endembed %}
