<div class="form-group d-flex justify-content-between align-items-center">
	<a href="{{ page.get_finishorderURL() }}" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Finish Picking
	</a>
	<a href="{{ page.get_exitorderURL() }}" class="btn btn-danger exit-order">Exit Order</a>
</div>
