{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefCxm[]|ObjectCollection
	response               XrefResponse|null
#}
<div class="card mb-3">
	<div class="card-body">
		{% include 'items/cxm/search/xref/customer/form.twig' with {'q': page.wire('input').get.text('q'), 'custID': customer.custid} %}
	</div>
	{% include 'items/cxm/list/customer.twig' %}
</div>
