<div class="form-row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" name="code" class="form-control" maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code">
		</div>
	</div>
	<div class="col-sm-8">
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" name="description" class="form-control" maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description">
		</div>
	</div>
</div>
