<ul class="nav flex-column">
	{% block nav_links %}
		{% for menu in pages.user_allowed_menus() %}
			<li class="nav-item">
				<a class="nav-link" href="{{ menu.url }}">{{ menu.title }}</a>
			</li>
		{% endfor %}
	{% endblock %}
	<li>
		<form action="{{ pages.get('template=menu').url }}" class="mt-1 mb-3 allow-enterkey-submit">
			<label for="nav-menu-search">Dplus Code</label>
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="q" id="nav-menu-search">
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary">Go</button>
				</div>
			</div>
		</form>
	</li>
	<li class="nav-item bg-danger">
		<a class="nav-link text-white" href="{{ pages.get('/user/redir/').url ~ "?action=logout" }}">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
	</li>
</ul>
