{% extends "nav/default.twig" %}

{% block nav_links %}
	<li class="nav-item">
		<a class="nav-link" href="{{ pages.get('template=dashboard').url }}">{{ pages.get('template=dashboard').title }}</a>
	</li>
	{% for menu in pages.get('/').children('template=dplus-menu|menu') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ menu.url }}">{{ menu.title }}</a>
		</li>
	{% endfor %}
{% endblock %}
