{#
	var                    Description / Instance of
	-------------------------------------------------
	input                  ProcessWire\WireInput
	manager                Dplus\Codes\Base
#}

{# data-code is for verifying edit vs new #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="sysop" value="{{ input.get.text('sysop') }}">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ optm.fieldAttribute('code', 'maxlength') }}" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" maxlength="{{ optm.fieldAttribute('description', 'maxlength') }}" id="description">
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success" name="action" value="update">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="submit" class="btn btn-danger delete_button" name="action" value="delete">
			<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
