{% extends 'items/upcx/form/page.twig' %}

{% block breadcrumbs %}
	{% include 'items/itm/bread-crumbs.twig' %}
{% endblock %}

{% block return_links %}
	<div class="mb-3">
		<a href="{{ page.upc_listURL() }}" class="btn btn-primary">
			<i class="fa fa-undo" aria-hidden="true"></i> &nbsp;
			Back to {{ upc.itemid }} UPC List
		</a>
	</div>
{% endblock %}

{% block formdisplay %}
	{% include 'items/itm/xrefs/upcx/form/display.twig' %}
{% endblock %}
