<label for="{{ name }}">{{ label }}</label>
{% include 'util/bootstrap/form/input-group.twig' with {
		'inputgroup': {
			'type': 'prepend',
			'size': 'sm',
			'input': {
				'name': name,
				'value': value,
				'attributes': {
					'placeholder': label ~ ' GL Account',
					'aria-label':  label ~ ' GL Account'
				}
			},
			'button': {
				'colorclass': 'btn-secondary',
				'text': 'fa fa-search'|icon,
				'attributes': {
					'title': 'Search GL Accounts',
					'data-toggle': 'modal',
					'data-target': '#ajax-modal',
					'data-lookupurl': page.searchLookupUrl('gl-codes'),
					'data-input': '#' ~ name
				}
			}
		}
	}
%}
<small class="text-muted gl-desc" data-acct="{{ name }}">{{ description }}</small>
