<hr>

<form id="edit-sales-order-form" action="{{ page.formurl }}">
	<input type="hidden" name="action" value="edit-order">
	<input type="hidden" name="ordn" value="{{ order.ordernumber }}">

	<div class="row">
		<div class="col-sm-6">
			<h3 class="font-weight-bold text-secondary mt-4">Edit Shipping Information</h3>
			{% include 'sales-orders/sales-order/edit/form-shipto.twig' %}

			<h3 class="font-weight-bold text-secondary mt-4">Edit Contact Information</h3>
			{% include 'sales-orders/sales-order/edit/form-contact.twig' %}
		</div>
		<div class="col-sm-6">
			<h3 class="font-weight-bold text-secondary mt-4">Edit Sales Order Information</h3>
			{% include 'sales-orders/sales-order/edit/form-sales-order.twig' %}
		</div>
	</div>

	<button type="submit" class="btn btn-info btn-block mt-5">
		Save Order <i class="fa fa-floppy-o" aria-hidden="true"></i>
	</button>
	<button type="submit" class="btn btn-success btn-block mt-2" name="exit" value="unlock-order">
		Save and Exit <i class="fa fa-sign-out" aria-hidden="true"></i>
	</button>
</form>
