{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ConfigSalesOrder
	order                  Ordrhed
	eso                    module SalesOrderEdit
	user                   ProcessWire\User
#}
{% set specialorder_descriptions = constant('SalesOrderDetail::OPTIONS_SPECIALORDER') %}
<div class="row mt-4">
	<div class="col-6">
		<h3 class="font-weight-bold text-secondary">Order Items</h3>
	</div>
	<div class="col-6">
		<button type="button" class="btn btn-primary collapse" data-toggle="modal" data-target="#last-sales-modal">
			View {{ order.custid }}'s Popular Items
		</button>
	</div>
</div>

<div class="bg-dark text-white font-weight-bold p-3 d-none d-sm-block">
	<div class="row">
		<div class="col-sm-3">Item ID</div>
		<div class="col-sm-2 text-right">Qty</div>
		<div class="col-sm-2 text-right">Price</div>
		<div class="col-sm-2 text-right">Amount</div>
		<div class="col-sm-3 "></div>
	</div>
</div>

{% for detail in eso.get_editable_details(order.ordernumber) %}
	{% include 'sales-orders/sales-order/edit/items/item.twig' %}
{% endfor %}
