<div class="card mb-4">
	<div class="card-header d-flex justify-content-between bg-primary">
		<a class="text-white" data-toggle="collapse" href="#sales-order-header" role="button" aria-expanded="false" aria-controls="sales-order-header">
			Sales Order Header <i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
	</div>
	<div class="collapse" id="sales-order-header">
		<div class="card-body">
			{% include 'sales-orders/sales-order/sales-order-header.twig' %}
		</div>
	</div>
</div>
