{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
#}

<table class="table table-sm table-striped">
	<tr>
		<td>Item ID</td>
		<td>{{ item.itemid }}</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>
			{{ item.description }} <br>
			{{ item.description2 }}
		</td>
	</tr>
</table>
