<div class="form-row">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header bg-dark text-white">
				Information
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header bg-dark text-white">
						Pricing
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header bg-dark text-white">
						Customer History
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header bg-dark text-white">
				Availability
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		{% include 'sales-orders/sales-order/edit/edit-item/form.twig' %}
	</div>
</div>
