<div class="form-row">
	<div class="col-sm-8">
		<div class="card mb-3">
			<div class="card-header bg-dark text-white">
				Information
			</div>
			{% include 'sales-orders/sales-order/edit/edit-item/info.twig' %}
		</div>
		<div class="form-row mb-3">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header bg-dark text-white">
						Pricing
					</div>
					{% include 'sales-orders/sales-order/edit/edit-item/pricing.twig' %}
				</div>
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-header bg-dark text-white">
						Customer History
					</div>
					{% include 'sales-orders/sales-order/edit/edit-item/price-history.twig' %}
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header bg-dark text-white">
				Availability
			</div>
			{% include 'sales-orders/sales-order/edit/edit-item/stock.twig' %}
		</div>
	</div>
	<div class="col-sm-4">
		{% include 'sales-orders/sales-order/edit/edit-item/form.twig' %}
	</div>
</div>
