<div class="form-group">
	<label for="contact">Contact</label>
	<input type="text" class="form-control form-control-sm" name="contact" id="contact" value="{{ po.contact }}">
</div>
<div class="form-group">
	<label for="phone">Phone</label>
	<input type="text" class="form-control-plaintext form-control-sm" name="phone" id="phone" value="{{ po.phone|phone_us_x }}" readonly>
</div>
<div class="form-group">
	<label for="fax">Fax</label>
	<input type="text" class="form-control-plaintext form-control-sm" name="fax" id="fax" value="{{ po.fax|phone_us }}" readonly>
</div>
<div class="form-group">
	<label for="email">Email</label>
	<input type="email" class="form-control-plaintext form-control-sm " id="email" value="{{ po.email }}" readonly>
</div>
