{% block toolbar %}

{% endblock %}

<div class="card">
	{% block header %}
		<div class="card-header">
			<div class="row">
				<div class="col-sm-2">
					<strong>Mnfr / Comp ID:</strong>
				</div>
				<div class="col-sm-4">
					 <div class="d-flex justify-content-between">
					 	{{ vendor.vendorid }}
						<div>
							<small>{{ vendor.name }}</small><br>
							<small></small>
						</div>
					 </div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block body %}
		
	{% endblock %}

	{% block footer %}

	{% endblock %}
</div>
