{% block toolbar %}

{% endblock %}

<div class="card">
	{% block header %}
		<div class="card-header">
			<div class="row">
				<div class="col-sm-3">
					<strong>Mnfr / Comp ID:</strong> {{ vendor.vendorid }}
				</div>
				<div class="col-sm-6">
					<div>
						<small>{{ vendor.name }}</small><br>
						<small></small>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block body %}
		
	{% endblock %}

	{% block footer %}

	{% endblock %}
</div>
