{#
	var                    Description / Instance of
	-------------------------------------------------
	item                   ItemMasterItem
#}
<div class="form-group row">
	<div class="col-sm-4">
		<strong>Item ID: </strong> &nbsp;
		{{ item.itemid }}
	</div>
	<div class="col-sm-8">
		<small>{{ item.description }}</small><br>
		<small>{{ item.description2 }}</small>
	</div>
</div>
