<div class="card mb-5">
	{% block header %}
		<div class="card-header">
			<div class="row">
				<div class="col-sm-2">
					<strong>Item ID:</strong>
				</div>
				<div class="col-sm-6">
					{{ item.itemid }} - {{ item.description }} - {{ item.description2 }}
				</div>
			</div>
		</div>
	{% endblock %}

	{% block body %}
	{% endblock %}

	{% block footer %}
		<div class="card-footer">
			<div class="d-flex justify-content-between align-items-center">

			</div>
		</div>
	{% endblock %}
</div>
