{# m_itm is an instance of module Itm #}
<form action="{{ page.fullURL.getURL() }}" method="POST" id="itm-form" data-itemID="{{ item.itemid }}">
	<input type="hidden" name="action" value="update-itm">
	<div class="row">
		<div class="col-sm-8">
			{% include 'items/itm/form/form-left.twig' %}
		</div>

		<div class="col-sm-4">
			{% include 'items/itm/form/form-right.twig' %}
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-danger btn-block" name="action" value="remove-itm-item">
				<i class="fa fa-trash" aria-hidden="true"></i> Remove
			</button>
		</div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-success btn-block" name="action" value="update-itm">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
		</div>
	</div>
</form>
