{% set input = page.wire('input') %}

{% set segments = input.urlSegments() %}

<ul class="nav nav-pills nav-justified mb-3">
	<li class="nav-item">
		{% if input.urlSegments()|length == 0 %}
			<a class="nav-link active" href="#">ITM</a>
		{% else %}
			<a class="nav-link" href="{{ page.itmUrl(input.get.text('itemID')) }}">ITM</a>
		{% endif %}
	</li>
	{% for function, title in page.subfunctions() %}
		<li class="nav-item">
			{% if segments[1] == function %}
				<a class="nav-link active" href="#">{{ title }}</a>
			{% else %}
				<a href="{{ page.itmUrlFunction(input.get.text('itemID'), function) }}" class="nav-link">
					{{ title }}
				</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>
