<div class="form-group">
	<a href="{{ page.url }}" class="btn btn-primary not-round">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> New Label
	</a>
</div>
<div class="row">
	<div class="col-sm-8">
		<form action="{{ page.url }}" id="print-label-form" method="post">
			<input type="hidden" name="action" value="print-labels">
			<input type="hidden" name="scan" value="{{ item.scan }}">

			<div class="form-row form-group">
				<div class="col-sm-6">
					Item ID
				</div>
				<div class="col-sm-6">
					{% include 'util/form/input-with-modal-lookup.twig' with {
							'name': 'itemID', 'value': item.itemid,
							'attributes': {
								'readonly': item.itemid ? true : false,
								'tabindex': item.itemid ? '-1' : '',
							},
							'modaltarget': '#ajax-modal',
							'modaldescription': 'Search for / Choose Item',
							'attributes_button': {
								'data-search': 'item',
								'data-lookupurl': page.search_lookupURL('items'),
								'data-input': '#itemID'
							}
						}
					%}
					<small class="form-text text-muted item-description">{{ item.desc1 }}</small>
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col-sm-6">
					Lot
				</div>
				<div class="col-sm-6">
					{% include 'util/form/input.twig' with {
							'name': 'lotserial', 'value': item.lotserial,
							'attributes': {
								'readonly': true,
								'tabindex': '-1',
							}
						}
					%}
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col-sm-6">
					Lot Reference
				</div>
				<div class="col-sm-6">
					{% include 'util/form/input.twig' with {
							'name': 'lotreference', 'value': item.lotreference,
							'attributes': {
								'readonly': true,
								'tabindex': '-1',
							}
						}
					%}
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col-sm-6">
					<label for="productiondate">Production Date</label>
				</div>
				<div class="col-sm-6">
					{% include 'util/date-picker.twig' with {
							'name': 'productiondate',
							'id': 'productiondate',
							'value': item.productiondate ? item.productiondate|convertdate('m/d/Y') : "now"|date("m/d/Y"),
							'readonly': item.productiondate ? true : false,
						}
					%}
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col-sm-6">
					<label class="control-label" for="weight">Weight</label>
				</div>
				<div class="col-sm-6">
					{% include 'util/form/input.twig' with {
							'name': 'qty', 'value': item.qty,
							'type': 'number',
							'attributes': {
								'readonly': item.qty ? true : false,
								'tabindex': item.qty ? '-1' : '',
							}
						}
					%}
				</div>
			</div>
			<div class="form-row form-group mb-3">
				<div class="col-sm-6">
					<label class="control-label" for="labelcount">Nbr of Labels</label>
				</div>
				<div class="col-sm-6">
					{% include 'util/form/input.twig' with {
							'name': 'labelcount', 'value': 1,
							'type': 'number',
							'attributes': {
								'min': 1
							}
						}
					%}
				</div>
			</div>
			<button type="submit" class="btn btn-lg btn-success">
				<i class="fa fa-print" aria-hidden="true"></i> Print Labels
			</button>
		</form>
	</div>
</div>
