{% extends 'items/ii/display.twig' %}

{% block body %}
	{% include 'items/ii/costing/item-info.twig' %}


	<div class="card-body">
		{% include 'items/ii/costing/costing-tabs.twig' %}
	</div>
{% endblock %}

{% block footer %}

{% endblock %}
