<div class="card">
	<div class="card-header px-2 bg-{{ type }}">
		<i class="{{ iconclass }}" aria-hidden="true"></i>
		<span class="h4">{{ title }}</span>
	</div>
	<div class="card-body p-2">
		{% block body %}
			{{ message }}
		{% endblock %}
	</div>
</div>