<div class="mb-3">
	<div class="row">
		<div class="col">
			<a href="#" class="btn btn-light" aria-label="Return to last page" onclick="window.history.back();">
				<i class="fa fa-undo" aria-hidden="true"></i> Go back
			</a>
			&nbsp;
			<a href="{{ page.listpage.url }}" class="btn btn-light">
				<i class="fa fa-list" aria-hidden="true"></i> Back to Quotes List
			</a>
			&nbsp;
			<a href="{{ page.get_printURL() }}" class="btn btn-primary" target="_blank" title="View Printable" aria-label="View Printable">
				<i class="fa fa-print" aria-hidden="true"></i> View Print
			</a>
		</div>
		<div class="col text-right">
			<a href="#documents" title="View Documents" aria-label="View Documents" class="{{ docm.count_documents(quote.quotenumber) ? 'text-success' : 'text-muted'}}">
				<i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
			</a>
			&nbsp;
			<a href="#notes" class="{{ quote.count_notes() ? 'text-success' : 'text-muted'}}" title="View Notes" aria-label="View Notes">
				<i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
