<form action="{{ page.url }}" class="allow-enterkey-submit">
	<label for="qnbr"><strong>Enter Quote Number</strong></label> &nbsp; &nbsp;

	<div class="form-inline">
		<div class="input-group">
			<input type="text" class="form-control" name="qnbr" id="qnbr">
			<span class="input-group-append">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-search" aria-hidden="true"></i> Find
				</button>
			</span>
		</div>
	</div>
</form>
