<form action="{{ page.url }}" class="allow-enterkey-submit">
	<div class="form-group">
		<label for="qnbr">Enter Quote Number</label>
		<div class="form-inline">
			<div class="input-group">
				<input type="text" class="form-control" name="qnbr" id="qnbr">
				<span class="input-group-append">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-search" aria-hidden="true"></i> Find
					</button>
				</span>
			</div>
		</div>
	</div>
</form>
