<div class="row">
	<div class="col">
		<a href="{{ page.quoteEditUrl(quote.quotenumber) }}" class="btn btn-block btn-warning">
			<i class="fa fa-pencil" aria-hidden="true"></i> Edit Quote
		</a>
	</div>
	<div class="col">
		<a href="{{ page.orderQuoteUrl(quote.quotenumber) }}" class="btn btn-block btn-secondary">
			<i class="fa fa-paper-plane-o" aria-hidden="true"></i> Push to Order
		</a>
	</div>
</div>
