<table class="table table-striped" id="msds-table">
	<thead>
		<tr class="bg-dark text-white">
			<th>Code</th>
			<th>Description</th>
		</tr>
	</thead>
	{% for freight in results %}
		<tr>
			<td>
				<a href="#" class="link freight-link code-link text-monospace" data-code="{{ freight.code }}">
					{{ freight.code|replace({' ': '&nbsp;'})|raw }}
				</a>
			</td>
			<td>{{ freight.description }}</td>
		</tr>
	{% endfor %}
</table>
