<div class="modal fade" id="pricingModal" tabindex="-1" aria-labelledby="pricingModalLabel" aria-hidden="true" data-itemid="">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pricingModalLabel">Pricing for <span class="itemid"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-sm pricing-table">
					<thead>
						<tr>
							<th class="text-right">Qty Break</th>
							<th class="text-right">Price</th>
						</tr>
					</thead>
					<tbody>
						<tr class="example collapse">
							<td class="text-right qty"></td>
							<td class="text-right price"></td>
						</tr>
						<tr class="qty-break">
							<td class="text-right qty">2</td>
							<td class="text-right price">2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
