{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	purchaseorder          PurchaseOrder
	ponbr                  Purcahse Order Number
	qnotes                 module QnotesPo
#}
<div class="mb-3">
	<a href="{{ page.view_purchaseorderURL(ponbr) }}" class="btn btn-sm btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to Purchase Order
	</a>
</div>

<h3>Header Notes</h3>
{% include 'purchase-orders/purchase-order/qnotes/qnote.twig' with {'title': 'Header', 'linenbr': 0} %}

<h3>Item Notes</h3>
{% for item in purchaseorder.getPurchaseOrderDetails() %}
	{% include 'purchase-orders/purchase-order/qnotes/qnote.twig' with {'title': 'Line #' ~ item.linenbr ~ ': ' ~ item.itemid , 'linenbr': item.linenbr} %}
{% endfor %}
{% include 'purchase-orders/purchase-order/qnotes/modal.twig' %}
{% include 'msa/noce/ajax/notes-modal.twig' %}
