<div class="form-group">
	<button type="button" class="btn btn-primary" onclick="window.history.back()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back
	</button>
	&nbsp;
	<a href="{{ page.get_bookingsURL() }}" class="btn btn-secondary">
		<i class="fa fa-book" aria-hidden="true"></i> Back to Bookings
	</a>
	{% block extra_links %}
		&nbsp;
		<a href="{{ page.customerURL(customer.custid) }}" class="btn btn-light">
			<i class="fa fa-user" aria-hidden="true"></i> View {{ customer.name }}
		</a>
	{% endblock %}
	&nbsp;
	{% if page.is_filtering() %}
		<a href="{{ page.clear_filterURL() }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Clear Filter
		</a>
	{% endif %}
</div>
