<div class="form-group">
	<button type="button" class="btn btn-primary" onclick="window.history.back()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back
	</button>
	&nbsp;
	<a href="{{ page.get_bookingsURL() }}" class="btn btn-secondary"> Back to Bookings </a>
	{% block extra_links %}
		&nbsp;
		<a href="{{ page.customerURL(customer.custid) }}" class="btn btn-light">
			<i class="fa fa-user" aria-hidden="true"></i> View {{ customer.name }}
		</a>
	{% endblock %}
</div>
