<div class="mb-3">
	<h2>{{ vendor.name }}</h2>
	{% include 'vendors/vi/contacts/vendor.twig' %}
</div>

<div class="mb-3">
	<h2>Contacts</h2>
	{% include 'vendors/vi/contacts/vendor-contacts.twig' %}
</div>

<div class="mb-3">
	<h2>Ship-From Contacts</h2>
	{% include 'vendors/vi/contacts/shipfrom-contacts.twig' %}
</div>
