{# var response is an instance of CodeTablesResponse #}

{% set type  = response.has_error() ? 'danger' : 'success' %}
{% set icon  = response.has_error() ? 'fa fa-warning fa-2x' : 'fa fa-floppy-o fa-2x' %}
{% set title = response.has_error() ? 'Error!' : 'Success!' %}

<div id="code-table-alert" class="mb-3">
	{% include 'util/alert.twig' with {'type': type,'iconclass': icon, 'title': title, 'message': response.message } %}
</div>
