{# var response is an instance of Dplus\Codes\Response #}

{% set type  = response.hasError() ? 'danger' : 'success' %}
{% set icon  = response.hasError() ? 'fa fa-warning fa-2x' : 'fa fa-floppy-o fa-2x' %}
{% set title = response.hasError() ? 'Error!' : 'Success!' %}

<div class="code-table-alert mb-3">
	{% include 'util/alert.twig' with {'type': type, 'iconclass': icon, 'title': title, 'message': response.message } %}
</div>
