{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> APMAIN
		</a>
	</li>
	{% if values.offsetExists('code') == false %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> PTM
		</li>
	{% else %}
		<li class="breadcrumb-item">
			<a href="{{ page.codeListUrl(values.text('code')) }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> PTM
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ values.text('code') }}
		</li>
	{% endif %}
{% endblock %}

{% block page_title_text %}
	{% if values.offsetExists('code') == false %}
		{{ page.get('pagetitle|headline|title')|raw }}
	{% else %}
		Customer Terms Edit
	{% endif %}
{% endblock %}