{% extends 'items/itm/xrefs/xrefs-display.twig' %}

{% block body %}
	<div class="card-body">
		{% include 'items/itm/xrefs/cxm/form/form.twig' with {'item': xref, 'xref': xref, 'itm': itm} %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extras %}
	{% if xref.isNew() == false and cxm.recordlocker.userHasLocked(cxm.getRecordlockerKey(xref)) %}
		<h3>Notes</h3>
		{% include 'items/cxm/.new/xref/qnotes.twig' %}
	{% endif %}
{% endblock %}
