{#
	var                    Description / Instance of
	-------------------------------------------------
	config                 module ConfigsBinr
	page                   ProcessWire\Page
	resultscount           number of results
	inventory              InvsearchQuery
	warehouse              Warehouse
#}
<div class="collapse-lotserial {{ not page.is_print() ? 'collapse' : '' }}" id="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS  }}-lotserial">
	<div class="list-group">
		{% for lotserial in inventory.get_lotserials_itemid(binitem.itemid, binitem.bin, 'expirationdate') %}
			{% include 'warehouse/binr/provalley/inventory-results/bins/lotserial/lotserial.twig' %}
		{% endfor %}
	</div>
</div>
