$(function() {
	{% set labelformat = interval == 'month' ? 'MMM YYYY' : 'MM/DD/YYYY' %};

	$('#bookings').on('shown.bs.collapse', function () {
		var xlabelformat = '{{ labelformat }}';

		new Morris.Line({
				// ID of the element in which to draw the chart.
				element: 'bookings-chart',
				// Chart data records -- each entry in this array corresponds to a point on
				// the chart.
				data: {{ bookingsdata|json_encode()|raw }},
				// The name of the data record attribute that contains x-values.
				xkey: 'bookdate',
				dateFormat: function (d) {
					var ds = new Date(d);
					return moment(ds).format('MM/DD/YYYY');
				},
				hoverCallback: function (index, options, content, row) {
					var url = new URI('{{ page.get_bookingsURL() }}').addQuery('filter', 'filter');
					var date = moment(row.bookdate).format('MM/DD/YYYY');
					var link = '';

					{% if interval ==  'month' %}
						date = moment(row.bookdate).format('MMM YYYY');
						var firstofmonth = moment(row.bookdate).startOf('month').format('MM/DD/YYYY');
						var lastofmonth = moment(row.bookdate).endOf('month').format('MM/DD/YYYY');
						href = URI(url.toString()).setQuery('filter', 'filter').removeQuery('bookdate[]').addQuery('bookdate', firstofmonth+"|"+lastofmonth).normalizeQuery().toString();
						link = "<a href='"+href+"''> Click to view " + date + '</a>';
					{% else %}
						link = row.dayurl;
					{% endif %}
					var hover = '<b>'+date+'</b><br>';
					hover += '<b>Amt Sold: </b> $' + row.amount.formatMoney() +'<br>';
					hover += link;
					return hover;
				},
				xLabels: '{{ interval }}',
				// A list of names of data record attributes that contain y-values.
				ykeys: ['amount'],
				// Labels for the ykeys -- will be displayed when you hover over the
				// chart.
				labels: ['Amount'],
				xLabelFormat: function (x) { return moment(x).format(xlabelformat); },
				yLabelFormat: function (y) { return "$ "+y.formatMoney() + ' dollars'; },
			});

	});

	$('#bookings').on('hidden.bs.collapse', function () {
		$(this).find('#bookings-chart').empty();
	});
});
