<div class="form-row form-group ar-code">
	<div class="col-sm-3">
		<label for="{{ name }}">{{ label }}</label>
	</div>
	<div class="col-sm-9">
		<div class="row input-parent">
			<div class="col-sm-4">
				{% include 'util/bootstrap/form/input-group.twig' with {
						'inputgroup': {
							'type': 'prepend',
							'size': 'sm',
							'input': {
								'name': name,
								'value': value,
								'attributes': {
									'placeholder': '',
									'aria-label':  label,
									'data-jqv': 'true',
								}
							},
							'button': {
								'colorclass': 'btn-secondary',
								'text': 'fa fa-search'|icon,
								'attributes': {
									'title': 'Search ' ~ searchTitleDescription,
									'data-toggle': 'modal',
									'data-target': '#ajax-modal',
									'data-lookupurl': page.searchLookupUrl(ajaxLookupPath),
									'data-input': '#' ~ name
								}
							}
						}
					}
				%}
			</div>
			<div class="col-sm-4">
				<p class="form-control-plaintext form-control-sm text-muted description">{{ description }}</p>
			</div>
		</div>
	</div>
</div>
