<div class="row mb-3">
	<div class="col-sm-3">
		<label for="id">Cust ID</label>
	</div>
	<div class="col-sm-2">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'id',
					'value': customer.id,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'maxlength': manager.fieldAttribute('id', 'maxlength'),
						'readonly': customer.isNew() == false,
						'tabindex': customer.isNew() == false ? '-1' : '',
					}
				}
			}
		%}
	</div>
</div>
<div class="row mb-3">
	<div class="col-sm-3">
		<label for="name">Name</label>
	</div>
	<div class="col-sm-9">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'name',
					'value': customer.name,
					'size': 'sm',
					'attributes': {
						'placeholder': '',
						'maxlength': manager.fieldAttribute('name', 'maxlength')
					}
				}
			}
		%}
	</div>
</div>
