<div class="row mb-2">
	<div class="col-sm-3">
		<label for="creditlimit">Credit Limit</label>
	</div>
	<div class="col-sm-3">
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'creditlimit',
					'value': customer.creditlimit|number_format(cmm.fieldAttribute('creditlimit', 'precision')),
					'size': 'sm',
					'type': 'number',
					'addclasses': ['text-right'],
					'attributes': {
						'max': cmm.fieldAttribute('creditlimit', 'max'),
						'data-precision': cmm.fieldAttribute('creditlimit', 'precision'),
					}
				}
			}
		%}
	</div>
</div>

<div class="row mb-2">
	<div class="col-sm-3">
		<label for="allowFinancecharge">Finance Charge</label>
	</div>
	<div class="col-sm-3">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'allowFinancecharge',
					'value' : customer.allowFinancecharge,
					'size': 'sm',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>
</div>

<div class="row mb-2">
	<div class="col-sm-3">
		<label for="allowBackorder">Backorder</label>
	</div>
	<div class="col-sm-4">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'allowBackorder',
					'value' : customer.allowBackorder,
					'size': 'sm',
					'haskeys': true,
					'showvalue': true,
					'options': cmm.fieldAttribute('allowBackorder', 'options')
				}
			}
		%}
	</div>
</div>

<div class="row mb-2">
	<div class="col-sm-3">
		<label for="shipcomplete">Ship Complete</label>
	</div>
	<div class="col-sm-3">
		{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': 'shipcomplete',
					'value' : customer.shipcomplete,
					'size': 'sm',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			}
		%}
	</div>
</div>

<div class="row mb-2">
	<div class="col-sm-3">
		<label for="additionaldiscount">Add. Discount</label>
	</div>
	<div class="col-sm-3">
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'append',
					'size': 'sm',
					'input': {
						'name': 'additionaldiscount',
						'value': customer.additionaldiscount|number_format(cmm.fieldAttribute('additionaldiscount', 'precision')),
						'addclasses': ['text-right'],
						'attributes': {
							'placeholder': '',
							'aria-label':  'Additonal Discount',
							'max': cmm.fieldAttribute('additionaldiscount', 'max'),
							'data-precision': cmm.fieldAttribute('additionaldiscount', 'precision'),
						}
					},
					'span': {
						'colorclass': 'bg-light',
						'text': '%'
					}
				}
			}
		%}
	</div>
</div>
