<div class="row">
	<div class="col-sm-3">
		<b>Salesperson</b>
	</div>
	<div class="col-sm-8">
		<div class="mb-1">
			{% include 'mar/armain/cmm/edit/form/salesrep.twig' with {
					'label': '1',
					'name': 'salesperson1',
					'value': customer.salesperson1,
					'salesrepname': cmm.descriptionSalesperson(customer.salesperson1)
				}
			%}
		</div>
		<div class="mb-1">
			{% include 'mar/armain/cmm/edit/form/salesrep.twig' with {
					'label': '2',
					'name': 'salesperson2',
					'value': customer.salesperson2,
					'salesrepname': cmm.descriptionSalesperson(customer.salesperson2)
				}
			%}
		</div>
		<div class="mb-1">
			{% include 'mar/armain/cmm/edit/form/salesrep.twig' with {
					'label': '3',
					'name': 'salesperson3',
					'value': customer.salesperson3,
					'salesrepname': cmm.descriptionSalesperson(customer.salesperson3)
				}
			%}
		</div>
	</div>
</div>
