<div class="mb-2">
	{% include 'mar/armain/cmm/edit/form/warehouse.twig' with {
			'label': 'Warehouse',
			'name': 'whseid',
			'value': customer.whseid,
			'whsename': 'sdf'
		}
	%}
</div>
<div class="mb-2">
	{% include 'mar/armain/cmm/edit/form/warehouse.twig' with {
			'label': 'Remit Warehouse',
			'name': 'remitwhseid',
			'value': customer.remitwhseid,
			'whsename': 'sdf'
		}
	%}
</div>
