<div class="row">
	<div class="col-sm-6 form-group">
		<div class="mb-3">
			{% include 'vendors/vi/ship-froms/ship-from/header/info.twig' %}
		</div>
		{% include 'vendors/vi/ship-froms/ship-from/header/ap-data.twig' %}
	</div>
	<div class="col-sm-6 form-group">
		{% include 'vendors/vi/ship-froms/ship-from/header/activity.twig' %}
	</div>
</div>
