{#
	var                    Description / Instance of
	-------------------------------------------------
	input                  ProcessWire\WireInput
	manager                Dplus\Codes\Base
#}

{# data-code is for verifying edit vs new #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="code">Code</label>
				<input type="text" name="code" class="form-control" maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code" tabindex="1">
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description" tabindex="2">
			</div>
		</div>
	</div>
	
	{% for i in 1..constant('NUMBER_TAXCODES', manager) %}
		{% include 'code-tables/mar/tm/form/taxcode.twig' with {'name' : 'taxcode' ~ i, 'index': i, 'tabindex': 2 + i} %}
	{% endfor %}

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<div>
			<a href="{{ page.codeDeleteUrl('') }}" class="btn btn-danger delete_button collapse">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
