<div class="list-group-item py-0 px-3">
	<div class="row align-items-center">
		<div class="col-sm-2">

		</div>
		<div class="col-sm-10 text-center bg-dark text-white">
			<div class="py-2">
				Screens
			</div>
		</div>
	</div>
</div>

<div class="list-group-item bg-dark text-white">
	<div class="row align-items-center">
		<div class="col-sm-2">
			Login ID
		</div>
		<div class="col-sm-1"></div>
		{% for field, label in itmp.permissionsLabels() %}
			<div class="col-sm-1">
				{{ label|title }}
			</div>
		{% endfor %}
		<div class="col-sm-3 text-center">
			{% if page.is_print() == false %}
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit-modal">
					<i class="fa fa-plus" aria-hidden="true"></i> Add User
				</button>
			{% endif %}
		</div>
	</div>
</div>
