{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}



{% block current_page %}
	<li class="breadcrumb-item">
		<i class="fa fa-list" aria-hidden="true"></i>
		<a href="{{ page.menuUrl() }}">INMAIN</a>
	</li>

	{% if values.offsetExists('upc') == false and values.offsetExists('itemID') == false  %}
		<li class="breadcrumb-item active" aria-current="page">
			UPCX
		</li>
	{% endif %}
	
	{% if values.offsetExists('upc') %}
		<li class="breadcrumb-item">
			<a href="{{ page.xrefListUrl([values.text('upc'), values.text('itemID')]|join(upcx.recordlocker.glue())) }}">UPCX</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ values.text('upc') }}
		</li>
	{% endif %}
{% endblock %}
