<div class="mb-2">
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="filter">
		<i class="fa fa-filter" aria-hidden="true"></i> Show Filter
	</button>
</div>
<div class="collapse" id="filter">
	{% include 'code-tables/msa/sysop/list/filter/form.twig' %}
</div>
