<div class="row mb-3">
	<div class="col-sm-4 form-group">
		<label for="glchargeaccountnbr">GL Account</label>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'glchargeaccountnbr',
						'attributes': {
							'placeholder': '',
							'aria-label':  'General Ledger Charge Account',
							'data-jqv': 'true'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search General Ledger Accounts',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('mgl/mhm/'),
							'data-input': '#glchargeaccountnbr'
						}
					}
				}
			}
		%}
		<small class="text-muted gl-charge-acct-name"></small>
	</div>
	<div class="col-sm-2 form-group">
		<label for="servicerate">Service Rate</label>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'servicerate',
					'size': 'sm',
					'attributes': {
						'max': manager.fieldAttribute('servicerate', 'max'),
						'data-precision': manager.fieldAttribute('servicerate', 'precision')
					},
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
	<div class="col-sm-3 form-group">
		<label for="transactioncost">Transaction Cost</label>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'transactioncost',
					'size': 'sm',
					'attributes': {
						'max': manager.fieldAttribute('transactioncost', 'max'),
						'data-precision': manager.fieldAttribute('transactioncost', 'precision')
					},
					'addclasses': ['text-right']
				}
			}
		%}
	</div>
	<div class="col-sm-3 form-group">
		<label for="surchargepercentcc">Surcharge</label>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'surchargepercentcc',
						'attributes': {
							'max': manager.fieldAttribute('surchargepercentcc', 'max'),
							'data-precision': manager.fieldAttribute('surchargepercentcc', 'precision')
						},
						'addclasses': ['text-right']
					},
					'span': {
						'colorclass': 'bg-light',
						'text': '%'
					}
				}
			}
		%}
	</div>
</div>
