<div class="card mb-4">
	<div class="card-header bg-primary">
		<a class="text-white" data-toggle="collapse" href="#customer-actions" role="button" aria-expanded="false" aria-controls="customer-actions">
			<i class="fa fa-check-square-o" aria-hidden="true"></i> User Actions <i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
		<span class="badge badge-pill badge-light">{{ resultscount }}</span>
		<a href="{{ page.get_createactionURL() }}" class="btn btn-info btn-sm create-action pull-right" aria-label="Create Action" title="Create Action">
			<i class="fa fa-plus-square" aria-hidden="true"></i>
		</a>
	</div>
	<div class="collapse" id="customer-actions">
		{% include 'user-actions/actions-list.twig' %}
		<div class="card-footer bg-secondary">
			<a href="{{ page.get_actionslistURL() }}" class="text-white">View More Actions <i class="fa fa-sign-in" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
