<div class="row mb-4">
	<div class="col-sm-6">
		<div class="mb-4">
			{% include 'customers/ci/customer/info.twig' %}
		</div>
		{% include 'customers/ci/customer/ar-data.twig' %}
	</div>
	<div class="col-sm-6">
		<div class="text-center form-group">
			<a href="{{ page.cart_customerURL() }}" class="btn btn-dark">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Entry
			</a>
		</div>
		{% include 'customers/ci/customer/activity.twig' %}
	</div>
</div>
