<div class="card mb-4">
	<div class="card-header d-flex justify-content-between bg-primary">
		<a class="text-white" data-toggle="collapse" href="#customer-quotes" role="button" aria-expanded="false" aria-controls="customer-quotes">
			Quotes&ensp;<i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
		<span class="badge badge-pill badge-light">{{ resultscount }}</span>
	</div>
	<div class="collapse" id="customer-quotes">
		{% include 'quotes/customer/quotes-list.twig' %}
		
		<div class="card-footer bg-secondary">
			<a href="{{ quotes_list }}" class="text-white">
				View More {{ page.has('shiptoID') ? 'Ship-to' : 'Customer' }} Quotes
				<i class="fa fa-sign-in" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
