<div class="card mb-4">
	<div class="card-header d-flex justify-content-between bg-primary">
		<a class="text-white" data-toggle="collapse" href="#customer-shipped-orders" role="button" aria-expanded="false" aria-controls="customer-shipped-orders">
			Sales History &ensp;<i class="fa fa-caret-down" aria-hidden="true"></i>
		</a>
		<span class="badge badge-pill badge-light">{{ resultscount }}</span>
	</div>
	<div class="collapse" id="customer-shipped-orders">
		{% include 'sales-orders/sales-history/customer/sales-history-list.twig' %}

		<div class="card-footer bg-secondary">
			<a href="{{ shipped_orders_list }}" class="text-white">View More Customer Shipped Orders <i class="fa fa-sign-in" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
