<nav class="toolbar-sidebar">
	<ul class="nav">
		{% for key, data in page.ciPermittedSubfunctions() %}
			<li>
				<a href="{{ child.ciSubfunctionUrl(custID, key) }}">
					{{ data.title ? data.title : key|capitalize }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
