<div class="row mb-2">
	<div class="col">
		<a href="#history" class="btn btn-primary">History</a>
	</div>
</div>

{% include 'user-actions/tasks/task-details.twig' %}

<div class="row">
	<div class="col">
		<a href="#" class="btn btn-success">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</a>
	</div>
	<div class="col">
		<a href="#" class="btn btn-info">
			<i class="fa fa-calendar" aria-hidden="true"></i> Reschedule
		</a>
	</div>
</div>
<hr>

{% if task.has_actionlink() %}
	<h3 id="history">History</h3>

	{% for parent in task.get_actionlineage() %}
		<div class="text-center mb-2">
			<i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
		</div>

		{% include 'user-actions/tasks/task-details.twig' with {'task': parent} %}
	{% endfor %}
{% endif %}
