{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	bmm                    Dplus\Mpm\Pmmain\Bmm
	bomItem                BomItem
	itm                    module Itm
#}

{% extends 'items/itm/display.twig' %}

{% block body %}
	<div class="card-body">
		<div class="row">
			<div class="col-sm-8">
				{% include 'items/itm/xrefs/bom/component/form.twig' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	
{% endblock %}
