<div class="row mb-4">
	<div class="col-sm-6 form-group">
		<div class="mb-3">
			{% include 'vendors/vi/shipfrom/info.twig' %}
		</div>
		{% include 'vendors/vi/shipfrom/ap-data.twig' %}
	</div>
	<div class="col-sm-6 form-group">
		{% include 'vendors/vi/shipfrom/activity.twig' %}
	</div>
</div>
