<form action="{{ page.searchURL }}" method="get" class="allow-enterkey-submit" id="vxm-search-form">
	<input type="hidden" name="vendorID" value="{{ vendorID }}">
	<div class="input-group form-group">
		<input class="form-control form-group inline" type="text" name="q" value="" placeholder="Search Vendor item ID, description">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
		</span>
	</div>
</form>
